<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfang.inquiry.dao1.OrderMapper">
  <resultMap id="BaseResultMap" type="com.yunfang.inquiry.entity1.Order">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="HandicapId" jdbcType="VARCHAR" property="handicapid" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="Handciap" jdbcType="VARCHAR" property="handciap" />
    <result column="UserId" jdbcType="VARCHAR" property="userid" />
    <result column="OrderName" jdbcType="VARCHAR" property="ordername" />
    <result column="GameType" jdbcType="VARCHAR" property="gametype" />
    <result column="Num" jdbcType="INTEGER" property="num" />
    <result column="Amount" jdbcType="INTEGER" property="amount" />
    <result column="Odds" jdbcType="REAL" property="odds" />
    <result column="Reteat" jdbcType="REAL" property="reteat" />
    <result column="WinAmount" jdbcType="REAL" property="winamount" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, HandicapId, OrderNo, Handciap, UserId, OrderName, GameType, Num, Amount, Odds, 
    Reteat, WinAmount, Status, CreateDate
  </sql>
  <select id="selectByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunfang.inquiry.entity1.Order">
    insert into order (Id, HandicapId, OrderNo, 
      Handciap, UserId, OrderName, 
      GameType, Num, Amount, 
      Odds, Reteat, WinAmount, Status, 
      CreateDate)
    values (#{id,jdbcType=VARCHAR}, #{handicapid,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, 
      #{handciap,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{ordername,jdbcType=VARCHAR}, 
      #{gametype,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{odds,jdbcType=REAL}, #{reteat,jdbcType=REAL}, #{winamount,jdbcType=REAL}, #{status,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yunfang.inquiry.entity1.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="handicapid != null">
        HandicapId,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="handciap != null">
        Handciap,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="ordername != null">
        OrderName,
      </if>
      <if test="gametype != null">
        GameType,
      </if>
      <if test="num != null">
        Num,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="odds != null">
        Odds,
      </if>
      <if test="reteat != null">
        Reteat,
      </if>
      <if test="winamount != null">
        WinAmount,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="handicapid != null">
        #{handicapid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="handciap != null">
        #{handciap,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ordername != null">
        #{ordername,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="odds != null">
        #{odds,jdbcType=REAL},
      </if>
      <if test="reteat != null">
        #{reteat,jdbcType=REAL},
      </if>
      <if test="winamount != null">
        #{winamount,jdbcType=REAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.handicapid != null">
        HandicapId = #{record.handicapid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null">
        OrderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.handciap != null">
        Handciap = #{record.handciap,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.ordername != null">
        OrderName = #{record.ordername,jdbcType=VARCHAR},
      </if>
      <if test="record.gametype != null">
        GameType = #{record.gametype,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        Num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        Amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.odds != null">
        Odds = #{record.odds,jdbcType=REAL},
      </if>
      <if test="record.reteat != null">
        Reteat = #{record.reteat,jdbcType=REAL},
      </if>
      <if test="record.winamount != null">
        WinAmount = #{record.winamount,jdbcType=REAL},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set Id = #{record.id,jdbcType=VARCHAR},
      HandicapId = #{record.handicapid,jdbcType=VARCHAR},
      OrderNo = #{record.orderno,jdbcType=VARCHAR},
      Handciap = #{record.handciap,jdbcType=VARCHAR},
      UserId = #{record.userid,jdbcType=VARCHAR},
      OrderName = #{record.ordername,jdbcType=VARCHAR},
      GameType = #{record.gametype,jdbcType=VARCHAR},
      Num = #{record.num,jdbcType=INTEGER},
      Amount = #{record.amount,jdbcType=INTEGER},
      Odds = #{record.odds,jdbcType=REAL},
      Reteat = #{record.reteat,jdbcType=REAL},
      WinAmount = #{record.winamount,jdbcType=REAL},
      Status = #{record.status,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunfang.inquiry.entity1.Order">
    update order
    <set>
      <if test="handicapid != null">
        HandicapId = #{handicapid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="handciap != null">
        Handciap = #{handciap,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ordername != null">
        OrderName = #{ordername,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        GameType = #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        Num = #{num,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="odds != null">
        Odds = #{odds,jdbcType=REAL},
      </if>
      <if test="reteat != null">
        Reteat = #{reteat,jdbcType=REAL},
      </if>
      <if test="winamount != null">
        WinAmount = #{winamount,jdbcType=REAL},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunfang.inquiry.entity1.Order">
    update order
    set HandicapId = #{handicapid,jdbcType=VARCHAR},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      Handciap = #{handciap,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=VARCHAR},
      OrderName = #{ordername,jdbcType=VARCHAR},
      GameType = #{gametype,jdbcType=VARCHAR},
      Num = #{num,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=INTEGER},
      Odds = #{odds,jdbcType=REAL},
      Reteat = #{reteat,jdbcType=REAL},
      WinAmount = #{winamount,jdbcType=REAL},
      Status = #{status,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.yunfang.inquiry.entity1.Order">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="HandicapId" jdbcType="VARCHAR" property="handicapid" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="Handciap" jdbcType="VARCHAR" property="handciap" />
    <result column="UserId" jdbcType="VARCHAR" property="userid" />
    <result column="OrderName" jdbcType="VARCHAR" property="ordername" />
    <result column="GameType" jdbcType="VARCHAR" property="gametype" />
    <result column="Num" jdbcType="INTEGER" property="num" />
    <result column="Amount" jdbcType="INTEGER" property="amount" />
    <result column="Odds" jdbcType="REAL" property="odds" />
    <result column="Reteat" jdbcType="REAL" property="reteat" />
    <result column="WinAmount" jdbcType="REAL" property="winamount" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, HandicapId, OrderNo, Handciap, UserId, OrderName, GameType, Num, Amount, Odds, 
    Reteat, WinAmount, Status, CreateDate
  </sql>
  <select id="selectByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunfang.inquiry.entity1.Order">
    insert into order (Id, HandicapId, OrderNo, 
      Handciap, UserId, OrderName, 
      GameType, Num, Amount, 
      Odds, Reteat, WinAmount, Status, 
      CreateDate)
    values (#{id,jdbcType=VARCHAR}, #{handicapid,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, 
      #{handciap,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{ordername,jdbcType=VARCHAR}, 
      #{gametype,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{odds,jdbcType=REAL}, #{reteat,jdbcType=REAL}, #{winamount,jdbcType=REAL}, #{status,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yunfang.inquiry.entity1.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="handicapid != null">
        HandicapId,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="handciap != null">
        Handciap,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="ordername != null">
        OrderName,
      </if>
      <if test="gametype != null">
        GameType,
      </if>
      <if test="num != null">
        Num,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="odds != null">
        Odds,
      </if>
      <if test="reteat != null">
        Reteat,
      </if>
      <if test="winamount != null">
        WinAmount,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="handicapid != null">
        #{handicapid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="handciap != null">
        #{handciap,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ordername != null">
        #{ordername,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="odds != null">
        #{odds,jdbcType=REAL},
      </if>
      <if test="reteat != null">
        #{reteat,jdbcType=REAL},
      </if>
      <if test="winamount != null">
        #{winamount,jdbcType=REAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.handicapid != null">
        HandicapId = #{record.handicapid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null">
        OrderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.handciap != null">
        Handciap = #{record.handciap,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.ordername != null">
        OrderName = #{record.ordername,jdbcType=VARCHAR},
      </if>
      <if test="record.gametype != null">
        GameType = #{record.gametype,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        Num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        Amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.odds != null">
        Odds = #{record.odds,jdbcType=REAL},
      </if>
      <if test="record.reteat != null">
        Reteat = #{record.reteat,jdbcType=REAL},
      </if>
      <if test="record.winamount != null">
        WinAmount = #{record.winamount,jdbcType=REAL},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set Id = #{record.id,jdbcType=VARCHAR},
      HandicapId = #{record.handicapid,jdbcType=VARCHAR},
      OrderNo = #{record.orderno,jdbcType=VARCHAR},
      Handciap = #{record.handciap,jdbcType=VARCHAR},
      UserId = #{record.userid,jdbcType=VARCHAR},
      OrderName = #{record.ordername,jdbcType=VARCHAR},
      GameType = #{record.gametype,jdbcType=VARCHAR},
      Num = #{record.num,jdbcType=INTEGER},
      Amount = #{record.amount,jdbcType=INTEGER},
      Odds = #{record.odds,jdbcType=REAL},
      Reteat = #{record.reteat,jdbcType=REAL},
      WinAmount = #{record.winamount,jdbcType=REAL},
      Status = #{record.status,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunfang.inquiry.entity1.Order">
    update order
    <set>
      <if test="handicapid != null">
        HandicapId = #{handicapid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="handciap != null">
        Handciap = #{handciap,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ordername != null">
        OrderName = #{ordername,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        GameType = #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        Num = #{num,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="odds != null">
        Odds = #{odds,jdbcType=REAL},
      </if>
      <if test="reteat != null">
        Reteat = #{reteat,jdbcType=REAL},
      </if>
      <if test="winamount != null">
        WinAmount = #{winamount,jdbcType=REAL},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunfang.inquiry.entity1.Order">
    update order
    set HandicapId = #{handicapid,jdbcType=VARCHAR},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      Handciap = #{handciap,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=VARCHAR},
      OrderName = #{ordername,jdbcType=VARCHAR},
      GameType = #{gametype,jdbcType=VARCHAR},
      Num = #{num,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=INTEGER},
      Odds = #{odds,jdbcType=REAL},
      Reteat = #{reteat,jdbcType=REAL},
      WinAmount = #{winamount,jdbcType=REAL},
      Status = #{status,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.yunfang.inquiry.entity1.Order">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="HandicapId" jdbcType="VARCHAR" property="handicapid" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="Handciap" jdbcType="VARCHAR" property="handciap" />
    <result column="UserId" jdbcType="VARCHAR" property="userid" />
    <result column="OrderName" jdbcType="VARCHAR" property="ordername" />
    <result column="GameType" jdbcType="VARCHAR" property="gametype" />
    <result column="Num" jdbcType="INTEGER" property="num" />
    <result column="Amount" jdbcType="INTEGER" property="amount" />
    <result column="Odds" jdbcType="REAL" property="odds" />
    <result column="Reteat" jdbcType="REAL" property="reteat" />
    <result column="WinAmount" jdbcType="REAL" property="winamount" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, HandicapId, OrderNo, Handciap, UserId, OrderName, GameType, Num, Amount, Odds, 
    Reteat, WinAmount, Status, CreateDate
  </sql>
  <select id="selectByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunfang.inquiry.entity1.Order">
    insert into order (Id, HandicapId, OrderNo, 
      Handciap, UserId, OrderName, 
      GameType, Num, Amount, 
      Odds, Reteat, WinAmount, Status, 
      CreateDate)
    values (#{id,jdbcType=VARCHAR}, #{handicapid,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, 
      #{handciap,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{ordername,jdbcType=VARCHAR}, 
      #{gametype,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{odds,jdbcType=REAL}, #{reteat,jdbcType=REAL}, #{winamount,jdbcType=REAL}, #{status,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yunfang.inquiry.entity1.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="handicapid != null">
        HandicapId,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="handciap != null">
        Handciap,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="ordername != null">
        OrderName,
      </if>
      <if test="gametype != null">
        GameType,
      </if>
      <if test="num != null">
        Num,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="odds != null">
        Odds,
      </if>
      <if test="reteat != null">
        Reteat,
      </if>
      <if test="winamount != null">
        WinAmount,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="handicapid != null">
        #{handicapid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="handciap != null">
        #{handciap,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ordername != null">
        #{ordername,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="odds != null">
        #{odds,jdbcType=REAL},
      </if>
      <if test="reteat != null">
        #{reteat,jdbcType=REAL},
      </if>
      <if test="winamount != null">
        #{winamount,jdbcType=REAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunfang.inquiry.entity1.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.handicapid != null">
        HandicapId = #{record.handicapid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null">
        OrderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.handciap != null">
        Handciap = #{record.handciap,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.ordername != null">
        OrderName = #{record.ordername,jdbcType=VARCHAR},
      </if>
      <if test="record.gametype != null">
        GameType = #{record.gametype,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        Num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        Amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.odds != null">
        Odds = #{record.odds,jdbcType=REAL},
      </if>
      <if test="record.reteat != null">
        Reteat = #{record.reteat,jdbcType=REAL},
      </if>
      <if test="record.winamount != null">
        WinAmount = #{record.winamount,jdbcType=REAL},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set Id = #{record.id,jdbcType=VARCHAR},
      HandicapId = #{record.handicapid,jdbcType=VARCHAR},
      OrderNo = #{record.orderno,jdbcType=VARCHAR},
      Handciap = #{record.handciap,jdbcType=VARCHAR},
      UserId = #{record.userid,jdbcType=VARCHAR},
      OrderName = #{record.ordername,jdbcType=VARCHAR},
      GameType = #{record.gametype,jdbcType=VARCHAR},
      Num = #{record.num,jdbcType=INTEGER},
      Amount = #{record.amount,jdbcType=INTEGER},
      Odds = #{record.odds,jdbcType=REAL},
      Reteat = #{record.reteat,jdbcType=REAL},
      WinAmount = #{record.winamount,jdbcType=REAL},
      Status = #{record.status,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunfang.inquiry.entity1.Order">
    update order
    <set>
      <if test="handicapid != null">
        HandicapId = #{handicapid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="handciap != null">
        Handciap = #{handciap,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="ordername != null">
        OrderName = #{ordername,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        GameType = #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        Num = #{num,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="odds != null">
        Odds = #{odds,jdbcType=REAL},
      </if>
      <if test="reteat != null">
        Reteat = #{reteat,jdbcType=REAL},
      </if>
      <if test="winamount != null">
        WinAmount = #{winamount,jdbcType=REAL},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunfang.inquiry.entity1.Order">
    update order
    set HandicapId = #{handicapid,jdbcType=VARCHAR},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      Handciap = #{handciap,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=VARCHAR},
      OrderName = #{ordername,jdbcType=VARCHAR},
      GameType = #{gametype,jdbcType=VARCHAR},
      Num = #{num,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=INTEGER},
      Odds = #{odds,jdbcType=REAL},
      Reteat = #{reteat,jdbcType=REAL},
      WinAmount = #{winamount,jdbcType=REAL},
      Status = #{status,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>