<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfang.inquiry.dao1.UserMapper">
  <resultMap id="BaseResultMap" type="com.yunfang.inquiry.entity1.User">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="ParentId" jdbcType="VARCHAR" property="parentid" />
    <result column="Account" jdbcType="VARCHAR" property="account" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="UserType" jdbcType="INTEGER" property="usertype" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="Credits" jdbcType="BIGINT" property="credits" />
    <result column="IsReplenish" jdbcType="INTEGER" property="isreplenish" />
    <result column="ZhanChengHe" jdbcType="INTEGER" property="zhanchenghe" />
    <result column="ZongDaiZhanChengShu" jdbcType="INTEGER" property="zongdaizhanchengshu" />
    <result column="ReplenishPercent" jdbcType="INTEGER" property="replenishpercent" />
    <result column="Proportional" jdbcType="INTEGER" property="proportional" />
    <result column="Handicap" jdbcType="VARCHAR" property="handicap" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, ParentId, Account, Name, Password, Status, UserType, CreateDate, Credits, IsReplenish, 
    ZhanChengHe, ZongDaiZhanChengShu, ReplenishPercent, Proportional, Handicap
  </sql>
  <select id="selectByExample" parameterType="com.yunfang.inquiry.entity1.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunfang.inquiry.entity1.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunfang.inquiry.entity1.User">
    insert into user (Id, ParentId, Account, 
      Name, Password, Status, 
      UserType, CreateDate, Credits, 
      IsReplenish, ZhanChengHe, ZongDaiZhanChengShu, 
      ReplenishPercent, Proportional, Handicap
      )
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{credits,jdbcType=BIGINT}, 
      #{isreplenish,jdbcType=INTEGER}, #{zhanchenghe,jdbcType=INTEGER}, #{zongdaizhanchengshu,jdbcType=INTEGER}, 
      #{replenishpercent,jdbcType=INTEGER}, #{proportional,jdbcType=INTEGER}, #{handicap,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunfang.inquiry.entity1.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="parentid != null">
        ParentId,
      </if>
      <if test="account != null">
        Account,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="usertype != null">
        UserType,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="credits != null">
        Credits,
      </if>
      <if test="isreplenish != null">
        IsReplenish,
      </if>
      <if test="zhanchenghe != null">
        ZhanChengHe,
      </if>
      <if test="zongdaizhanchengshu != null">
        ZongDaiZhanChengShu,
      </if>
      <if test="replenishpercent != null">
        ReplenishPercent,
      </if>
      <if test="proportional != null">
        Proportional,
      </if>
      <if test="handicap != null">
        Handicap,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="credits != null">
        #{credits,jdbcType=BIGINT},
      </if>
      <if test="isreplenish != null">
        #{isreplenish,jdbcType=INTEGER},
      </if>
      <if test="zhanchenghe != null">
        #{zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="zongdaizhanchengshu != null">
        #{zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="replenishpercent != null">
        #{replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="proportional != null">
        #{proportional,jdbcType=INTEGER},
      </if>
      <if test="handicap != null">
        #{handicap,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunfang.inquiry.entity1.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        ParentId = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        Account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.usertype != null">
        UserType = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.credits != null">
        Credits = #{record.credits,jdbcType=BIGINT},
      </if>
      <if test="record.isreplenish != null">
        IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      </if>
      <if test="record.zhanchenghe != null">
        ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="record.zongdaizhanchengshu != null">
        ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="record.replenishpercent != null">
        ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="record.proportional != null">
        Proportional = #{record.proportional,jdbcType=INTEGER},
      </if>
      <if test="record.handicap != null">
        Handicap = #{record.handicap,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set Id = #{record.id,jdbcType=VARCHAR},
      ParentId = #{record.parentid,jdbcType=VARCHAR},
      Account = #{record.account,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      UserType = #{record.usertype,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      Credits = #{record.credits,jdbcType=BIGINT},
      IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      Proportional = #{record.proportional,jdbcType=INTEGER},
      Handicap = #{record.handicap,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunfang.inquiry.entity1.User">
    update user
    <set>
      <if test="parentid != null">
        ParentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="credits != null">
        Credits = #{credits,jdbcType=BIGINT},
      </if>
      <if test="isreplenish != null">
        IsReplenish = #{isreplenish,jdbcType=INTEGER},
      </if>
      <if test="zhanchenghe != null">
        ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="zongdaizhanchengshu != null">
        ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="replenishpercent != null">
        ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="proportional != null">
        Proportional = #{proportional,jdbcType=INTEGER},
      </if>
      <if test="handicap != null">
        Handicap = #{handicap,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunfang.inquiry.entity1.User">
     update user
    set Id = #{record.id,jdbcType=VARCHAR},
      ParentId = #{record.parentid,jdbcType=VARCHAR},
      Account = #{record.account,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      UserType = #{record.usertype,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      Credits = #{record.credits,jdbcType=BIGINT},
      IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      Proportional = #{record.proportional,jdbcType=INTEGER},
      Handicap = #{record.handicap,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.yunfang.inquiry.entity1.User">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="ParentId" jdbcType="VARCHAR" property="parentid" />
    <result column="Account" jdbcType="VARCHAR" property="account" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="UserType" jdbcType="INTEGER" property="usertype" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="Credits" jdbcType="BIGINT" property="credits" />
    <result column="IsReplenish" jdbcType="INTEGER" property="isreplenish" />
    <result column="ZhanChengHe" jdbcType="INTEGER" property="zhanchenghe" />
    <result column="ZongDaiZhanChengShu" jdbcType="INTEGER" property="zongdaizhanchengshu" />
    <result column="ReplenishPercent" jdbcType="INTEGER" property="replenishpercent" />
    <result column="Proportional" jdbcType="INTEGER" property="proportional" />
    <result column="Handicap" jdbcType="VARCHAR" property="handicap" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, ParentId, Account, Name, Password, Status, UserType, CreateDate, Credits, IsReplenish, 
    ZhanChengHe, ZongDaiZhanChengShu, ReplenishPercent, Proportional, Handicap
  </sql>
  <select id="selectByExample" parameterType="com.yunfang.inquiry.entity1.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunfang.inquiry.entity1.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunfang.inquiry.entity1.User">
    insert into user (Id, ParentId, Account, 
      Name, Password, Status, 
      UserType, CreateDate, Credits, 
      IsReplenish, ZhanChengHe, ZongDaiZhanChengShu, 
      ReplenishPercent, Proportional, Handicap
      )
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{credits,jdbcType=BIGINT}, 
      #{isreplenish,jdbcType=INTEGER}, #{zhanchenghe,jdbcType=INTEGER}, #{zongdaizhanchengshu,jdbcType=INTEGER}, 
      #{replenishpercent,jdbcType=INTEGER}, #{proportional,jdbcType=INTEGER}, #{handicap,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunfang.inquiry.entity1.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="parentid != null">
        ParentId,
      </if>
      <if test="account != null">
        Account,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="usertype != null">
        UserType,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="credits != null">
        Credits,
      </if>
      <if test="isreplenish != null">
        IsReplenish,
      </if>
      <if test="zhanchenghe != null">
        ZhanChengHe,
      </if>
      <if test="zongdaizhanchengshu != null">
        ZongDaiZhanChengShu,
      </if>
      <if test="replenishpercent != null">
        ReplenishPercent,
      </if>
      <if test="proportional != null">
        Proportional,
      </if>
      <if test="handicap != null">
        Handicap,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="credits != null">
        #{credits,jdbcType=BIGINT},
      </if>
      <if test="isreplenish != null">
        #{isreplenish,jdbcType=INTEGER},
      </if>
      <if test="zhanchenghe != null">
        #{zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="zongdaizhanchengshu != null">
        #{zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="replenishpercent != null">
        #{replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="proportional != null">
        #{proportional,jdbcType=INTEGER},
      </if>
      <if test="handicap != null">
        #{handicap,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunfang.inquiry.entity1.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        ParentId = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        Account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.usertype != null">
        UserType = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.credits != null">
        Credits = #{record.credits,jdbcType=BIGINT},
      </if>
      <if test="record.isreplenish != null">
        IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      </if>
      <if test="record.zhanchenghe != null">
        ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="record.zongdaizhanchengshu != null">
        ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="record.replenishpercent != null">
        ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="record.proportional != null">
        Proportional = #{record.proportional,jdbcType=INTEGER},
      </if>
      <if test="record.handicap != null">
        Handicap = #{record.handicap,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set Id = #{record.id,jdbcType=VARCHAR},
      ParentId = #{record.parentid,jdbcType=VARCHAR},
      Account = #{record.account,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      UserType = #{record.usertype,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      Credits = #{record.credits,jdbcType=BIGINT},
      IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      Proportional = #{record.proportional,jdbcType=INTEGER},
      Handicap = #{record.handicap,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunfang.inquiry.entity1.User">
    update user
    <set>
      <if test="parentid != null">
        ParentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="credits != null">
        Credits = #{credits,jdbcType=BIGINT},
      </if>
      <if test="isreplenish != null">
        IsReplenish = #{isreplenish,jdbcType=INTEGER},
      </if>
      <if test="zhanchenghe != null">
        ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="zongdaizhanchengshu != null">
        ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="replenishpercent != null">
        ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="proportional != null">
        Proportional = #{proportional,jdbcType=INTEGER},
      </if>
      <if test="handicap != null">
        Handicap = #{handicap,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunfang.inquiry.entity1.User">
    update user
    set ParentId = #{parentid,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      UserType = #{usertype,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      Credits = #{credits,jdbcType=BIGINT},
      IsReplenish = #{isreplenish,jdbcType=INTEGER},
      ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      Proportional = #{proportional,jdbcType=INTEGER},
      Handicap = #{handicap,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.yunfang.inquiry.entity1.User">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="ParentId" jdbcType="VARCHAR" property="parentid" />
    <result column="Account" jdbcType="VARCHAR" property="account" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="UserType" jdbcType="INTEGER" property="usertype" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="Credits" jdbcType="BIGINT" property="credits" />
    <result column="IsReplenish" jdbcType="INTEGER" property="isreplenish" />
    <result column="ZhanChengHe" jdbcType="INTEGER" property="zhanchenghe" />
    <result column="ZongDaiZhanChengShu" jdbcType="INTEGER" property="zongdaizhanchengshu" />
    <result column="ReplenishPercent" jdbcType="INTEGER" property="replenishpercent" />
    <result column="Proportional" jdbcType="INTEGER" property="proportional" />
    <result column="Handicap" jdbcType="VARCHAR" property="handicap" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, ParentId, Account, Name, Password, Status, UserType, CreateDate, Credits, IsReplenish, 
    ZhanChengHe, ZongDaiZhanChengShu, ReplenishPercent, Proportional, Handicap
  </sql>
  <select id="selectByExample" parameterType="com.yunfang.inquiry.entity1.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunfang.inquiry.entity1.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunfang.inquiry.entity1.User">
    insert into user (Id, ParentId, Account, 
      Name, Password, Status, 
      UserType, CreateDate, Credits, 
      IsReplenish, ZhanChengHe, ZongDaiZhanChengShu, 
      ReplenishPercent, Proportional, Handicap
      )
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{credits,jdbcType=BIGINT}, 
      #{isreplenish,jdbcType=INTEGER}, #{zhanchenghe,jdbcType=INTEGER}, #{zongdaizhanchengshu,jdbcType=INTEGER}, 
      #{replenishpercent,jdbcType=INTEGER}, #{proportional,jdbcType=INTEGER}, #{handicap,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunfang.inquiry.entity1.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="parentid != null">
        ParentId,
      </if>
      <if test="account != null">
        Account,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="usertype != null">
        UserType,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="credits != null">
        Credits,
      </if>
      <if test="isreplenish != null">
        IsReplenish,
      </if>
      <if test="zhanchenghe != null">
        ZhanChengHe,
      </if>
      <if test="zongdaizhanchengshu != null">
        ZongDaiZhanChengShu,
      </if>
      <if test="replenishpercent != null">
        ReplenishPercent,
      </if>
      <if test="proportional != null">
        Proportional,
      </if>
      <if test="handicap != null">
        Handicap,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="credits != null">
        #{credits,jdbcType=BIGINT},
      </if>
      <if test="isreplenish != null">
        #{isreplenish,jdbcType=INTEGER},
      </if>
      <if test="zhanchenghe != null">
        #{zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="zongdaizhanchengshu != null">
        #{zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="replenishpercent != null">
        #{replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="proportional != null">
        #{proportional,jdbcType=INTEGER},
      </if>
      <if test="handicap != null">
        #{handicap,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunfang.inquiry.entity1.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        ParentId = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        Account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.usertype != null">
        UserType = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null">
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.credits != null">
        Credits = #{record.credits,jdbcType=BIGINT},
      </if>
      <if test="record.isreplenish != null">
        IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      </if>
      <if test="record.zhanchenghe != null">
        ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="record.zongdaizhanchengshu != null">
        ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="record.replenishpercent != null">
        ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="record.proportional != null">
        Proportional = #{record.proportional,jdbcType=INTEGER},
      </if>
      <if test="record.handicap != null">
        Handicap = #{record.handicap,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set Id = #{record.id,jdbcType=VARCHAR},
      ParentId = #{record.parentid,jdbcType=VARCHAR},
      Account = #{record.account,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Password = #{record.password,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      UserType = #{record.usertype,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      Credits = #{record.credits,jdbcType=BIGINT},
      IsReplenish = #{record.isreplenish,jdbcType=INTEGER},
      ZhanChengHe = #{record.zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{record.zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{record.replenishpercent,jdbcType=INTEGER},
      Proportional = #{record.proportional,jdbcType=INTEGER},
      Handicap = #{record.handicap,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunfang.inquiry.entity1.User">
    update user
    <set>
      <if test="parentid != null">
        ParentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="credits != null">
        Credits = #{credits,jdbcType=BIGINT},
      </if>
      <if test="isreplenish != null">
        IsReplenish = #{isreplenish,jdbcType=INTEGER},
      </if>
      <if test="zhanchenghe != null">
        ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      </if>
      <if test="zongdaizhanchengshu != null">
        ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      </if>
      <if test="replenishpercent != null">
        ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      </if>
      <if test="proportional != null">
        Proportional = #{proportional,jdbcType=INTEGER},
      </if>
      <if test="handicap != null">
        Handicap = #{handicap,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunfang.inquiry.entity1.User">
    update user
    set ParentId = #{parentid,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      UserType = #{usertype,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      Credits = #{credits,jdbcType=BIGINT},
      IsReplenish = #{isreplenish,jdbcType=INTEGER},
      ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      Proportional = #{proportional,jdbcType=INTEGER},
      Handicap = #{handicap,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>