<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.AgentMapper">
    <resultMap id="baseResult" type="com.fr.lottery.entity.Agent">
        <id column="Id" jdbcType="VARCHAR" property="id" />
        <result column="ParentId" jdbcType="VARCHAR" property="parentid" />
        <result column="CompanyId" jdbcType="VARCHAR" property="companyid" />
        <result column="IsReplenish" jdbcType="TINYINT" property="isreplenish" />
        <result column="ZhanChengHe" jdbcType="INTEGER" property="zhanchenghe" />
        <result column="ZongDaiZhanChengShu" jdbcType="INTEGER" property="zongdaizhanchengshu" />
        <result column="ReplenishPercent" jdbcType="INTEGER" property="replenishpercent" />
        <result column="Account" jdbcType="VARCHAR" property="account" />
        <result column="Name" jdbcType="VARCHAR" property="name" />
        <result column="Password" jdbcType="VARCHAR" property="password" />
        <result column="Status" jdbcType="TINYINT" property="status" />
        <result column="AgentType" jdbcType="INTEGER" property="agenttype" />
        <result column="CreateDate" jdbcType="TIMESTAMP" property="createDate" />
    </resultMap>
    <sql id="Columns">
        Id, Account,Name,Password,Status, ParentId, CompanyId, IsReplenish, ZhanChengHe, ZongDaiZhanChengShu, ReplenishPercent
    </sql>
    <sql id="from">
        from Agent
    </sql>
    <sql id="sqlWhere">
        <where>
            AND Status =1

        </where>
    </sql>

    <!-- 查询所有 -->
    <select id="findAll" resultMap="baseResult">
        select
        <include refid="Columns" />
        <include refid="from"></include>
        <include refid="sqlWhere"></include>
        <if test="limit >0">
            limit #{start},#{limit}
        </if>
    </select>

    <!-- 根据Id获取信息 -->
    <select id="get" resultMap="baseResult">
        SELECT
        <include refid="Columns"></include>
        <include refid="from"></include>
        <include refid="sqlWhere"></include>
        AND a.Id=#{id,jdbcType=VARCHAR}
    </select>
    <select id="countBy"  resultType="java.lang.Long">
        select count(1) from agent
        <include refid="from"></include>
        <include refid="sqlWhere"></include>
    </select>

    <insert id="insert" parameterType="com.fr.lottery.entity.Agent">
      insert into agent (Id, ParentId, CompanyId,
      IsReplenish, ZhanChengHe, ZongDaiZhanChengShu,
      ReplenishPercent, Account, Name,
      Password, Status, AgentType,
      CreateDate)
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{companyid,jdbcType=VARCHAR},
      #{isreplenish,jdbcType=TINYINT}, #{zhanchenghe,jdbcType=INTEGER}, #{zongdaizhanchengshu,jdbcType=INTEGER},
      #{replenishpercent,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{agenttype,jdbcType=INTEGER},
      #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.fr.lottery.entity.Agent">
    update agent
    set ParentId = #{parentid,jdbcType=VARCHAR},
      CompanyId = #{companyid,jdbcType=VARCHAR},
      IsReplenish = #{isreplenish,jdbcType=TINYINT},
      ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      Account = #{account,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      AgentType = #{agenttype,jdbcType=INTEGER},
      CreateDate = #{createDate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="getByAccount" parameterType="java.lang.String" resultMap="baseResult">
        select
        <include refid="Columns" />
        from agent
        <include refid="sqlWhere"></include>
        AND Account = #{account,jdbcType=VARCHAR}
    </select>

    <update id="updatePassword">
        UPDATE agent SET password=#{password,jdbcType=VARCHAR} WHERE Id =#{id,jdbcType=VARCHAR}
    </update>
</mapper>