<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.HandicapMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.Handicap">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="QiShu" jdbcType="VARCHAR" property="qishu" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="No1" jdbcType="VARCHAR" property="no1" />
    <result column="No2" jdbcType="VARCHAR" property="no2" />
    <result column="No3" jdbcType="VARCHAR" property="no3" />
    <result column="No4" jdbcType="VARCHAR" property="no4" />
    <result column="No5" jdbcType="VARCHAR" property="no5" />
    <result column="No6" jdbcType="VARCHAR" property="no6" />
    <result column="Tema" jdbcType="VARCHAR" property="tema" />
    <result column="OpenTime" jdbcType="TIMESTAMP" property="opentime" />
    <result column="AutoOpen" jdbcType="BIT" property="autoopen" />
    <result column="TemaStatus" jdbcType="BIT" property="temastatus" />
    <result column="ZhengmaStatus" jdbcType="BIT" property="zhengmastatus" />
    <result column="TemaCloseTime" jdbcType="TIMESTAMP" property="temaclosetime" />
    <result column="ZhengmaCloseTime" jdbcType="TIMESTAMP" property="zhengmaclosetime" />
    <result column="IsSettlement" jdbcType="BIT" property="issettlement" />
    <result column="zongfen" jdbcType="VARCHAR" property="zongfen" />
    <result column="teDanshuang" jdbcType="VARCHAR" property="teDanshuang" />
    <result column="teDaxiao" jdbcType="VARCHAR" property="teDaxiao" />
    <result column="heDanshuang" jdbcType="VARCHAR" property="heDanshuang" />
    <result column="zongDanshuang" jdbcType="VARCHAR" property="zongDanshuang" />
    <result column="zongDaxiao" jdbcType="VARCHAR" property="zongDaxiao" />
    <result column="Xiao1" jdbcType="VARCHAR" property="xiao1" />
    <result column="XiaoName1" jdbcType="VARCHAR" property="xiaoName1" />
    <result column="Xiao2" jdbcType="VARCHAR" property="xiao2" />
    <result column="XiaoName2" jdbcType="VARCHAR" property="xiaoName2" />
    <result column="Xiao3" jdbcType="VARCHAR" property="xiao3" />
    <result column="XiaoName3" jdbcType="VARCHAR" property="xiaoName3" />
    <result column="Xiao4" jdbcType="VARCHAR" property="xiao4" />
    <result column="XiaoName4" jdbcType="VARCHAR" property="xiaoName4" />
    <result column="Xiao5" jdbcType="VARCHAR" property="xiao5" />
    <result column="XiaoName5" jdbcType="VARCHAR" property="xiaoName5" />
    <result column="Xiao6" jdbcType="VARCHAR" property="xiao6" />
    <result column="XiaoName6" jdbcType="VARCHAR" property="xiaoName6" />
    <result column="Riqi" jdbcType="VARCHAR" property="riqi" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>

    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, QiShu, Status, No1, No2, No3, No4, No5, No6, Tema, OpenTime, AutoOpen, TemaStatus, 
    ZhengmaStatus, TemaCloseTime, ZhengmaCloseTime, IsSettlement,zongfen,teDanshuang,teDaxiao,
    heDanshuang,zongDanshuang,zongDaxiao,Xiao1,XiaoName1,Xiao2,XiaoName2,Xiao3,XiaoName3,
    Xiao4,XiaoName4,Xiao5,XiaoName5,Xiao6,XiaoName6,TexiaoName,Texiaono,riqi
  </sql>
  <select id="selectByExample" parameterType="com.fr.lottery.entity.Handicap" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from handicap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select   <include refid="Base_Column_List" />
    from handicap
    <where>

    </where>
    <if test="start !=null ">
      limit ${start},${limit}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from handicap
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getCurrentHandicaps" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include>
    FROM  handicap
    WHERE Status in (0,1) limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from handicap
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fr.lottery.entity.Handicap">
    delete from handicap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fr.lottery.entity.Handicap">
    insert into handicap (Id, QiShu, RiQi,Status,
      No1, No2, No3, No4, 
      No5, No6, Tema, OpenTime, 
      AutoOpen, TemaStatus, ZhengmaStatus, 
      TemaCloseTime, ZhengmaCloseTime, IsSettlement
      )
    values (#{id,jdbcType=VARCHAR}, #{qishu,jdbcType=VARCHAR}, #{riqi,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{no1,jdbcType=VARCHAR}, #{no2,jdbcType=VARCHAR}, #{no3,jdbcType=VARCHAR}, #{no4,jdbcType=VARCHAR}, 
      #{no5,jdbcType=VARCHAR}, #{no6,jdbcType=VARCHAR}, #{tema,jdbcType=VARCHAR}, #{opentime,jdbcType=TIMESTAMP}, 
      #{autoopen,jdbcType=BIT}, #{temastatus,jdbcType=BIT}, #{zhengmastatus,jdbcType=BIT}, 
      #{temaclosetime,jdbcType=TIMESTAMP}, #{zhengmaclosetime,jdbcType=TIMESTAMP}, #{issettlement,jdbcType=BIT}
      )
  </insert>
  <select id="count" resultType="java.lang.Long">
    select count(1) from handicap
  </select>


  <update id="updateByPrimaryKey" parameterType="com.fr.lottery.entity.Handicap">
    update handicap
    set QiShu = #{qishu,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      No1 = #{no1,jdbcType=VARCHAR},
      No2 = #{no2,jdbcType=VARCHAR},
      No3 = #{no3,jdbcType=VARCHAR},
      No4 = #{no4,jdbcType=VARCHAR},
      No5 = #{no5,jdbcType=VARCHAR},
      No6 = #{no6,jdbcType=VARCHAR},
      Tema = #{tema,jdbcType=VARCHAR},
      OpenTime = #{opentime,jdbcType=TIMESTAMP},
      AutoOpen = #{autoopen,jdbcType=BIT},
      TemaStatus = #{temastatus,jdbcType=BIT},
      ZhengmaStatus = #{zhengmastatus,jdbcType=BIT},
      TemaCloseTime = #{temaclosetime,jdbcType=TIMESTAMP},
      ZhengmaCloseTime = #{zhengmaclosetime,jdbcType=TIMESTAMP},
      IsSettlement = #{issettlement,jdbcType=BIT},
      zongfen= #{zongfen,jdbcType=INTEGER},
      teDanshuang= #{teDanshuang,jdbcType=VARCHAR},
      teDaxiao= #{teDaxiao,jdbcType=VARCHAR},
      zongDanshuang= #{zongDanshuang,jdbcType=VARCHAR},
      heDanshuang= #{heDanshuang,jdbcType=VARCHAR},
      zongDaxiao= #{zongDaxiao,jdbcType=VARCHAR},
      xiao1= #{xiao1,jdbcType=VARCHAR},
      xiao2= #{xiao2,jdbcType=VARCHAR},
      xiao3= #{xiao3,jdbcType=VARCHAR},
      xiao4= #{xiao4,jdbcType=VARCHAR},
      xiao5= #{xiao5,jdbcType=VARCHAR},
      xiao6= #{xiao6,jdbcType=VARCHAR},
      xiaoName1= #{xiaoName1,jdbcType=VARCHAR},
      xiaoName2= #{xiaoName2,jdbcType=VARCHAR},
      xiaoName3= #{xiaoName3,jdbcType=VARCHAR},
      xiaoName4= #{xiaoName4,jdbcType=VARCHAR},
      xiaoName5= #{xiaoName5,jdbcType=VARCHAR},
      xiaoName6= #{xiaoName6,jdbcType=VARCHAR},
      TexiaoName= #{texiaoName,jdbcType=VARCHAR},
      texiaono= #{texiaono,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="openHandicap" parameterType="com.fr.lottery.entity.Handicap">
    update handicap set
    Status = #{status,jdbcType=INTEGER},
    No1 = #{no1,jdbcType=VARCHAR},
      No2 = #{no2,jdbcType=VARCHAR},
      No3 = #{no3,jdbcType=VARCHAR},
      No4 = #{no4,jdbcType=VARCHAR},
      No5 = #{no5,jdbcType=VARCHAR},
      No6 = #{no6,jdbcType=VARCHAR},
      Tema = #{tema,jdbcType=VARCHAR},
      OpenTime = #{opentime,jdbcType=TIMESTAMP},
      AutoOpen = #{autoopen,jdbcType=BIT},
      TemaStatus = #{temastatus,jdbcType=BIT},
      ZhengmaStatus = #{zhengmastatus,jdbcType=BIT},
      TemaCloseTime = #{temaclosetime,jdbcType=TIMESTAMP},
      ZhengmaCloseTime = #{zhengmaclosetime,jdbcType=TIMESTAMP},
      IsSettlement = #{issettlement,jdbcType=BIT},
      zongfen= #{zongfen,jdbcType=INTEGER},
      teDanshuang= #{teDanshuang,jdbcType=VARCHAR},
      teDaxiao= #{teDaxiao,jdbcType=VARCHAR},
      zongDanshuang= #{zongDanshuang,jdbcType=VARCHAR},
      heDanshuang= #{heDanshuang,jdbcType=VARCHAR},
      zongDaxiao= #{zongDaxiao,jdbcType=VARCHAR},
      xiao1= #{xiao1,jdbcType=VARCHAR},
      xiao2= #{xiao2,jdbcType=VARCHAR},
      xiao3= #{xiao3,jdbcType=VARCHAR},
      xiao4= #{xiao4,jdbcType=VARCHAR},
      xiao5= #{xiao5,jdbcType=VARCHAR},
      xiao6= #{xiao6,jdbcType=VARCHAR},
      xiaoName1= #{xiaoName1,jdbcType=VARCHAR},
      xiaoName2= #{xiaoName2,jdbcType=VARCHAR},
      xiaoName3= #{xiaoName3,jdbcType=VARCHAR},
      xiaoName4= #{xiaoName4,jdbcType=VARCHAR},
      xiaoName5= #{xiaoName5,jdbcType=VARCHAR},
      xiaoName6= #{xiaoName6,jdbcType=VARCHAR},
      TexiaoName= #{texiaoName,jdbcType=VARCHAR},
      texiaono= #{texiaono,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>