<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.HandicapMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.Handicap">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="QiShu" jdbcType="VARCHAR" property="qishu" />
    <result column="Status" jdbcType="TINYINT" property="status" />
    <result column="No1" jdbcType="INTEGER" property="no1" />
    <result column="No2" jdbcType="INTEGER" property="no2" />
    <result column="No3" jdbcType="INTEGER" property="no3" />
    <result column="No4" jdbcType="INTEGER" property="no4" />
    <result column="No5" jdbcType="INTEGER" property="no5" />
    <result column="No6" jdbcType="INTEGER" property="no6" />
    <result column="Tema" jdbcType="INTEGER" property="tema" />
    <result column="OpenTime" jdbcType="TIMESTAMP" property="opentime" />
    <result column="AutoOpen" jdbcType="BIT" property="autoopen" />
    <result column="TemaStatus" jdbcType="BIT" property="temastatus" />
    <result column="ZhengmaStatus" jdbcType="BIT" property="zhengmastatus" />
    <result column="TemaCloseTime" jdbcType="TIMESTAMP" property="temaclosetime" />
    <result column="ZhengmaCloseTime" jdbcType="TIMESTAMP" property="zhengmaclosetime" />
    <result column="IsSettlement" jdbcType="BIT" property="issettlement" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>

    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, QiShu, Status, No1, No2, No3, No4, No5, No6, Tema, OpenTime, AutoOpen, TemaStatus, 
    ZhengmaStatus, TemaCloseTime, ZhengmaCloseTime, IsSettlement
  </sql>
  <select id="selectByExample" parameterType="com.fr.lottery.entity.Handicap" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from handicap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from handicap
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from handicap
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fr.lottery.entity.Handicap">
    delete from handicap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fr.lottery.entity.Handicap">
    insert into handicap (Id, QiShu, Status, 
      No1, No2, No3, No4, 
      No5, No6, Tema, OpenTime, 
      AutoOpen, TemaStatus, ZhengmaStatus, 
      TemaCloseTime, ZhengmaCloseTime, IsSettlement
      )
    values (#{id,jdbcType=VARCHAR}, #{qishu,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{no1,jdbcType=INTEGER}, #{no2,jdbcType=INTEGER}, #{no3,jdbcType=INTEGER}, #{no4,jdbcType=INTEGER}, 
      #{no5,jdbcType=INTEGER}, #{no6,jdbcType=INTEGER}, #{tema,jdbcType=INTEGER}, #{opentime,jdbcType=TIMESTAMP}, 
      #{autoopen,jdbcType=BIT}, #{temastatus,jdbcType=BIT}, #{zhengmastatus,jdbcType=BIT}, 
      #{temaclosetime,jdbcType=TIMESTAMP}, #{zhengmaclosetime,jdbcType=TIMESTAMP}, #{issettlement,jdbcType=BIT}
      )
  </insert>
  <select id="countByExample" parameterType="com.fr.lottery.entity.Handicap" resultType="java.lang.Long">
    select count(*) from handicap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>


  <update id="updateByPrimaryKey" parameterType="com.fr.lottery.entity.Handicap">
    update handicap
    set QiShu = #{qishu,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      No1 = #{no1,jdbcType=INTEGER},
      No2 = #{no2,jdbcType=INTEGER},
      No3 = #{no3,jdbcType=INTEGER},
      No4 = #{no4,jdbcType=INTEGER},
      No5 = #{no5,jdbcType=INTEGER},
      No6 = #{no6,jdbcType=INTEGER},
      Tema = #{tema,jdbcType=INTEGER},
      OpenTime = #{opentime,jdbcType=TIMESTAMP},
      AutoOpen = #{autoopen,jdbcType=BIT},
      TemaStatus = #{temastatus,jdbcType=BIT},
      ZhengmaStatus = #{zhengmastatus,jdbcType=BIT},
      TemaCloseTime = #{temaclosetime,jdbcType=TIMESTAMP},
      ZhengmaCloseTime = #{zhengmaclosetime,jdbcType=TIMESTAMP},
      IsSettlement = #{issettlement,jdbcType=BIT}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>