<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.LimitSetMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.LimitSet">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="UserId" jdbcType="VARCHAR" property="userId" />
    <result column="LimitType" jdbcType="VARCHAR" property="limitType" />
    <result column="LimitOrder" jdbcType="INTEGER" property="limitOrder" />
    <result column="SingleMin" jdbcType="INTEGER" property="singlemin" />
    <result column="SingleMax" jdbcType="INTEGER" property="singlemax" />
    <result column="SingleHighest" jdbcType="INTEGER" property="singlehighest" />
    <result column="A_Retreat" jdbcType="DECIMAL" property="aRetreat" />
    <result column="B_Retreat" jdbcType="DECIMAL" property="bRetreat" />
    <result column="C_Retreat" jdbcType="DECIMAL" property="cRetreat" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, UserId, LimitType, SingleMin, SingleMax, SingleHighest, A_Retreat,
    B_Retreat, C_Retreat,LimitOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from limitset
    where UserId=#{userId}
    ORDER BY  LimitOrder ASC
  </select>
  <insert id="insert" parameterType="com.fr.lottery.entity.LimitSet">
    insert into limitset (Id, userId , LimitType, SingleMin, SingleMax,
      SingleHighest, A_Retreat, B_Retreat, C_Retreat,LimitOrder)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      #{limitType,jdbcType=VARCHAR}, #{singlemin,jdbcType=INTEGER}, #{singlemax,jdbcType=INTEGER},
      #{singlehighest,jdbcType=INTEGER}, #{aRetreat,jdbcType=DECIMAL}, #{bRetreat,jdbcType=DECIMAL}, 
      #{cRetreat,jdbcType=DECIMAL},#{limitOrder,jdbcType=INTEGER})
  </insert>

  <delete id="deleteByUserId">
    DELETE  from limitset where UserId=#{userId,jdbcType=INTEGER}
  </delete>
</mapper>