<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.Orders">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="handicapId" jdbcType="VARCHAR" property="handicapId" />
    <result column="gameType" jdbcType="VARCHAR" property="gametype" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="odds" jdbcType="DECIMAL" property="odds" />
    <result column="retreat" jdbcType="DECIMAL" property="retreat"/>
    <result column="orderType" jdbcType="VARCHAR" property="orderType"/>
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="winAmount" jdbcType="DECIMAL" property="winAmount"/>
    <result column="canWinAmount" jdbcType="DECIMAL" property="canWinAmount"/>
    <result column="totalAmount" jdbcType="INTEGER" property="totalAmount" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="lianmatype" jdbcType="VARCHAR" property="lianmatype" />
    <result column="lianmadan" jdbcType="VARCHAR" property="lianmadan" />
    <result column="oddSet" jdbcType="DECIMAL" property="oddset" />
    <result column="IsMuti" jdbcType="BIT" property="isMuti"/>
    <result column="dailiId" jdbcType="VARCHAR" property="dailiId" />
    <result column="dailiAccount" jdbcType="VARCHAR" property="dailiAccount"/>
    <result column="dailiName" jdbcType="VARCHAR" property="dailiName"/>
    <result column="dailiAmt" jdbcType="DECIMAL" property="dailiAmt"/>
    <result column="dailiRetreat" jdbcType="DECIMAL" property="dailiRetreat"/>
    <result column="dailiRetreatAmt" jdbcType="DECIMAL" property="dailiRetreatAmt"/>
    <result column="dailiWinAmt" jdbcType="DECIMAL" property="dailiWinamt"/>
    <result column="retreatAmt" jdbcType="DECIMAL" property="retreatAmt"/>
    <result column="zongdaiId" jdbcType="VARCHAR" property="zongdaiId" />
    <result column="zongdaiAccount" jdbcType="VARCHAR" property="zongdaiAccount"/>
    <result column="zongdaiName" jdbcType="VARCHAR" property="zongdaiName"/>
    <result column="zongdaiAmt" jdbcType="DECIMAL" property="zongdaiAmt"/>
    <result column="zongdaiRetreat" jdbcType="DECIMAL" property="zongdaiRetreat"/>
    <result column="zongdaiRetreatAmt" jdbcType="DECIMAL" property="zongdaiRetreatAmt"/>
    <result column="zongdaiWinAmt" jdbcType="DECIMAL" property="zongdaiWinamt"/>

    <result column="gudongId" jdbcType="VARCHAR" property="gudongId" />
    <result column="gudongAccount" jdbcType="VARCHAR" property="gudongAccount"/>
    <result column="gudongName" jdbcType="VARCHAR" property="gudongName"/>
    <result column="gudongAmt" jdbcType="DECIMAL" property="gudongAmt"/>
    <result column="gudongRetreat" jdbcType="DECIMAL" property="gudongRetreat"/>
    <result column="gudongRetreatAmt" jdbcType="DECIMAL" property="gudongRetreatAmt"/>
    <result column="gudongWinAmt" jdbcType="DECIMAL" property="gudongWinamt"/>

    <result column="dagudongId" jdbcType="VARCHAR" property="dagudongId" />
    <result column="dagudongAccount" jdbcType="VARCHAR" property="dagudongAccount"/>
    <result column="dagudongName" jdbcType="VARCHAR" property="dagudongName"/>
    <result column="dagudongAmt" jdbcType="DECIMAL" property="dagudongAmt"/>
    <result column="dagudongRetreat" jdbcType="DECIMAL" property="dagudongRetreat"/>
    <result column="dagudongRetreatAmt" jdbcType="DECIMAL" property="dagudongRetreatAmt"/>
    <result column="dagudongWinAmt" jdbcType="DECIMAL" property="dagudongWinamt"/>
    <result column="riqi" jdbcType="VARCHAR" property="riqi"/>
  </resultMap>
  <sql id="Base_Column_List">
     Id,  userId,handicapId, gameType, `no`,description, odds, amount,totalAmount,retreat,IFNULL(winAmount,0) as winAmount, createdate,status,orderNo,
    lianmatype,lianmadan,IFNULL(canWinAmount,0) as canWinAmount,oddset,orderType,IsMuti,dailiId,dailiaccount,dailiname,dailiamt,dailiRetreat,dailiRetreatAmt,dailiwinamt
      ,zongdaiId,zongdaiaccount,zongdainame,zongdaiamt,zongdairetreat,zongdairetreatamt,zongdaiwinamt,gudongId,gudongaccount,gudongname,gudongamt,gudongretreat,gudongretreatamt,gudongwinamt
      ,dagudongid,dagudongaccount,dagudongname,dagudongamt,dagudongretreat,dagudongretreatamt,dagudongwinamt,account,retreatAmt,riqi
  </sql>
  <select id="selectByExample"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getOrdersByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where orderNo=#{orderNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where Id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.fr.lottery.entity.Orders">
    insert into orders (Id,  userId,handicapId,orderType,
      gameType, no,description, odds,amount,totalAmount,retreat,winAmount, createdate,orderNo,lianmatype,lianmadan,canWinAmount,oddset
      ,IsMuti,dailiId,dailiaccount,dailiname,dailiamt,dailiRetreat,dailiRetreatAmt,dailiwinamt
      ,zongdaiId,zongdaiaccount,zongdainame,zongdaiamt,zongdairetreat,zongdairetreatamt,zongdaiwinamt
      ,gudongId,gudongaccount,gudongname,gudongamt,gudongretreat,gudongretreatamt,gudongwinamt
      ,dagudongid,dagudongaccount,dagudongname,dagudongamt,dagudongretreat,dagudongretreatamt,dagudongwinamt,account
      ,retreatAmt,riqi)
    values (#{id,jdbcType=VARCHAR},  #{userid,jdbcType=VARCHAR},#{handicapId,jdbcType=VARCHAR},#{orderType,jdbcType=VARCHAR},
      #{gametype,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR}, #{odds,jdbcType=DECIMAL},
      #{amount,jdbcType=INTEGER},#{totalAmount,jdbcType=INTEGER},#{retreat,jdbcType=DECIMAL},#{winAmount,jdbcType=DECIMAL}, #{createdate,jdbcType=TIMESTAMP},
      #{orderNo,jdbcType=VARCHAR},#{lianmatype,jdbcType=VARCHAR},#{lianmadan,jdbcType=VARCHAR},#{canWinAmount,jdbcType=DECIMAL},
      #{oddset,jdbcType=VARCHAR},#{isMuti,jdbcType=BIT},#{dailiId,jdbcType=VARCHAR},#{dailiAccount,jdbcType=VARCHAR},#{dailiName,jdbcType=VARCHAR},#{dailiAmt,jdbcType=DECIMAL},#{dailiRetreat,jdbcType=DECIMAL},#{dailiRetreatAmt,jdbcType=DECIMAL},#{dailiWinamt,jdbcType=DECIMAL},
      #{zongdaiId,jdbcType=VARCHAR},#{zongdaiAccount,jdbcType=VARCHAR},#{zongdaiName,jdbcType=VARCHAR},#{zongdaiAmt,jdbcType=DECIMAL},#{zongdaiRetreat,jdbcType=DECIMAL},#{zongdaiRetreatAmt,jdbcType=DECIMAL},#{zongdaiWinamt,jdbcType=DECIMAL},
      #{gudongId,jdbcType=VARCHAR},#{gudongAccount,jdbcType=VARCHAR},#{gudongName,jdbcType=VARCHAR},#{gudongAmt,jdbcType=DECIMAL},#{gudongRetreat,jdbcType=DECIMAL},#{gudongRetreatAmt,jdbcType=DECIMAL},#{gudongWinamt,jdbcType=DECIMAL},
      #{dagudongId,jdbcType=VARCHAR},#{dagudongAccount,jdbcType=VARCHAR},#{dagudongName,jdbcType=VARCHAR},#{dagudongAmt,jdbcType=DECIMAL},#{dagudongRetreat,jdbcType=DECIMAL},#{dagudongRetreatAmt,jdbcType=DECIMAL},#{dagudongWinamt,jdbcType=DECIMAL},
      #{account,jdbcType=VARCHAR},#{retreatAmt,jdbcType=DECIMAL},#{riqi,jdbcType=VARCHAR})
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from orders

  </select>

  <update id="updateByPrimaryKey" parameterType="com.fr.lottery.entity.Orders">
    update orders
    set userId = #{userid,jdbcType=VARCHAR},
      handicapId=#{handicapId,jdbcType=VARCHAR},
      gameType = #{gametype,jdbcType=VARCHAR},
      description= #{description,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      odds = #{odds,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=INTEGER},
      totalAmount = #{totalAamount,jdbcType=INTEGER},
      retreat = #{retreat,jdbcType=DECIMAL},
      winAmount=#{winAmount,jdbcType=DECIMAL},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateWinAmountByPrimaryKey">
    UPDATE orders set winAmount=#{winAmount,jdbcType=DECIMAL} WHERE Id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="settlement" statementType="CALLABLE" >
      Call P_DB_Settlement1(#{p_handicapId,mode=IN,jdbcType=VARCHAR})
  </update>
<select id="countByUserId" resultType="java.lang.Long">
   select count(1) from orders
   <where>
     <if test="handicapId!='' and handicapId!=null" >
       AND handicapId = #{handicapId,jdbcType=VARCHAR}
     </if>
     <if test="userid!='' and userid!=null" >
       AND userid = #{userid,jdbcType=VARCHAR}
     </if>
     <if test="gameType!='' and gameType!=null" >
       AND gameType = #{gameType,jdbcType=VARCHAR}
     </if>
   </where>
</select>

  <select id="getOrderDetails"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from orders
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userid!='' and userid!=null" >
        AND userid = #{userid,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND FIND_IN_SET (gameType, #{gameType,jdbcType=VARCHAR})
      </if>
    </where>

    order by orderNo DESC
    <if test="pageIndex!=null ">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getTotal"  resultMap="BaseResultMap">
    select sum(IFNULL(totalAmount,0)) as totalAmount,sum(IFNULL(canWinAmount,0)+IFNULL(retreatAmt,0)) as canWinAmount,sum(IFNULL(winAmount,0)+IFNULL(retreatAmt,0)) as winAmount
    from orders
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userid!='' and userid!=null" >
        AND userid = #{userid,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND FIND_IN_SET (gameType, #{gameType,jdbcType=VARCHAR})
      </if>
    </where>
  </select>

  <resultMap id="UserHistoryMap" type="com.fr.lottery.dto.MemberReportDto">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="riqi" jdbcType="VARCHAR" property="riqi" />
    <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="totalAmount" jdbcType="VARCHAR" property="totalAmount" />
    <result column="winAmount" jdbcType="VARCHAR" property="winAmount" />
    <result column="canWinAmount" jdbcType="VARCHAR" property="canWinAmount" />
  </resultMap>

  <select id="getOrderHistory" resultMap="UserHistoryMap">
    SELECT handicapid as id,userid,riqi ,COUNT(1) as  orderNum,sum(totalamount) as  amount,
    sum(ifnull(winAmount,0)+retreatamt) as winAmount
    FROM orders
      <where>

        <if test="userid!='' and userid!=null" >
          AND userid = #{userid,jdbcType=VARCHAR}
        </if>
        <if test="handicapId!='' and handicapId!=null" >
          AND handicapId = #{handicapId,jdbcType=VARCHAR}
        </if>
      </where>
      GROUP  BY userid,handicapId
    ORDER  BY riqi desc

  </select>

  <select id="getOrderHistoryByRiqi" resultMap="UserHistoryMap">
    SELECT handicapid,userid,riqi ,COUNT(1) as  orderNum,sum(totalamount) as  amount,
    sum(IFNULL( winAmount,0)+retreatamt) as winAmount
    FROM orders
    <where>
      <if test="userid!='' and userid!=null" >
        AND userid = #{userid,jdbcType=VARCHAR}
      </if>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
    </where>
    GROUP  BY userid,handicapId
    ORDER  BY riqi desc

  </select>

  <select id="getBuhuoesByUserId" resultType="com.fr.lottery.entity.Orders">
    SELECT * FROM orders
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>

      <if test="gameType!='' and gameType!=null" >
        AND FIND_IN_SET (gameType, #{gameType,jdbcType=VARCHAR})
      </if>
      <if test="userId!='' and userId!=null" >
        AND userId = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND userId = #{userId,jdbcType=VARCHAR}
      </if>
      AND orderType='bucang'
    </where>
    order by orderNo DESC
    <if test="pageIndex!=null ">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="countBuhuoesByUserId" resultType="java.lang.Long">
    SELECT  count(1) FROM orders
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>

      <if test="gameType!='' and gameType!=null" >
        AND FIND_IN_SET (gameType, #{gameType,jdbcType=VARCHAR})
      </if>
      <if test="userId!='' and userId!=null" >
        AND userId = #{userId,jdbcType=VARCHAR}
      </if>
      AND orderType='bucang'
    </where>

  </select>

  <select id="getOrdersByDaili" resultType="com.fr.lottery.entity.Orders">
    SELECT
    <include refid="Base_Column_List"></include>
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;=   #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND dailiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pageIndex!=null">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="countOrdersByDaili" resultType="java.lang.Integer">
    SELECT  count(1) FROM orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi = #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi = #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND dailiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="getTotalByDaili" resultType="com.fr.lottery.entity.Orders">
    SELECT sum(totalamount) as totalamount,sum(IFnull(winamount,0)+retreatamt) as winamount
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;=   #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND dailiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getOrdersByZongdai2" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND zongdaiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>
      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pageIndex!=null">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getOrdersByTest" resultType="com.fr.lottery.entity.Orders">
    SELECT
    <include refid="Base_Column_List"></include>
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;=   #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND zongdaiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pageIndex!=null">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="countOrdersByZongdai" resultType="java.lang.Integer">
    SELECT  count(1) FROM orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND zongdaiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getTotalByZongdai" resultType="com.fr.lottery.entity.Orders">
    SELECT sum(totalamount) as totalamount,sum(IFnull(winamount,0)+retreatamt) as winamount
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;=   #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND zongdaiid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getOrdersByGudong" resultType="com.fr.lottery.entity.Orders">
    SELECT
    <include refid="Base_Column_List"></include>
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND gudongid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pageIndex!=null">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="countOrdersByGudong" resultType="java.lang.Integer">
    SELECT  count(1) FROM orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND gudongid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getTotalByGudong" resultType="com.fr.lottery.entity.Orders">
    SELECT sum(totalamount) as totalamount,sum(IFnull(winamount,0)+retreatamt) as winamount
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;=   #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND gudongid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getOrdersByDagudong" resultType="com.fr.lottery.entity.Orders">
    SELECT
    <include refid="Base_Column_List"></include>
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND dagudongid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pageIndex!=null">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="countOrdersByDagudong" resultType="java.lang.Integer">
    SELECT  count(1) FROM orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;= #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND dagudongid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="getTotalByDagudong" resultType="com.fr.lottery.entity.Orders">
    SELECT sum(totalamount) as totalamount,sum(IFnull(winamount,0)+retreatamt) as winamount
    from orders
    <where>
      <if test="riqi!='' and riqi!=null" >
        AND riqi &gt;= #{riqi,jdbcType=VARCHAR}
      </if>
      <if test="riqi2!='' and riqi2!=null" >
        AND riqi &lt;=   #{riqi2,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND dagudongid =#{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>

      <if test="number!='' and number!=null" >
        AND `no` = #{number,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>