<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.OrderDetail">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="orderId" jdbcType="VARCHAR" property="orderId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="handicapId" jdbcType="VARCHAR" property="handicapId" />
    <result column="gameType" jdbcType="VARCHAR" property="gameType" />
    <result column="Number1" jdbcType="VARCHAR" property="number1" />
    <result column="Number2" jdbcType="VARCHAR" property="number2" />
    <result column="Number3" jdbcType="VARCHAR" property="number3" />
    <result column="odds" jdbcType="DECIMAL" property="odds" />
    <result column="odds1" jdbcType="DECIMAL" property="odds1" />

    <result column="retreat" jdbcType="DECIMAL" property="retreat"/>
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="winAmount" jdbcType="DECIMAL" property="winAmount"/>
    <result column="canWinAmount" jdbcType="DECIMAL" property="canWinAmount"/>
    <result column="createdate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, orderId, userId,handicapId, gameType, `number1`,`number2`,`number3`, `number4`, `number5`, `number6`, `number7`, `number8`, `number9`, `number10`, odds,odds1, amount,retreat,winAmount, createdate
    ,canWinAmount
  </sql>
  <select id="selectByExample"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orderdetail
    where Id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.fr.lottery.entity.OrderDetail">
    insert into orderdetail (Id, orderId, userId,handicapId,
      gameType, `number1`, `number2`, `number3`, `number4`, `number5`, `number6`, `number7`, `number8`, `number9`, `number10`, odds,odds1,amount,retreat,winAmount, createdate,canWinAmount)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},#{handicapId,jdbcType=VARCHAR},
      #{gameType,jdbcType=VARCHAR}, #{number1,jdbcType=VARCHAR},#{number2,jdbcType=VARCHAR},#{number3,jdbcType=VARCHAR},
       #{number4,jdbcType=VARCHAR},#{number5,jdbcType=VARCHAR},#{number6,jdbcType=VARCHAR},
       #{number7,jdbcType=VARCHAR},#{number8,jdbcType=VARCHAR},#{number9,jdbcType=VARCHAR},
       #{number10,jdbcType=VARCHAR},#{odds,jdbcType=DECIMAL},#{odds1,jdbcType=DECIMAL},
      #{amount,jdbcType=INTEGER},#{retreat,jdbcType=DECIMAL},#{winAmount,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP},
      #{canWinAmount,jdbcType=DECIMAL})
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from orderdetail

  </select>

  <update id="updateWinAmountByPrimaryKey">
    UPDATE orderdetail set winAmount=#{winAmount,jdbcType=DECIMAL} WHERE Id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="settlement" parameterMap="getUserCountMap" statementType="CALLABLE">
      CALL P_DB_Settlement(?)
  </update>
    <parameterMap type="java.util.Map" id="getUserCountMap">
        <parameter property="handicapId" mode="IN" jdbcType="VARCHAR"/>
    </parameterMap>
<select id="countByUserId" resultType="java.lang.Long">
   select count(1) from orderdetail
   <where>
     <if test="handicapId!='' and handicapId!=null" >
       AND handicapId = #{handicapId,jdbcType=VARCHAR}
     </if>
     <if test="userId!='' and userId!=null" >
       AND userId = #{userId,jdbcType=VARCHAR}
     </if>
     <if test="gameType!='' and gameType!=null" >
       AND gameType = #{gameType,jdbcType=VARCHAR}
     </if>
   </where>
</select>

  <select id="getOrderDetails"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND userId = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>
    </where>

    order by orderNo ASC
    <if test="pageIndex!=null ">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getTotal"  resultMap="BaseResultMap">
    select sum(IFNULL(canWinAmount,0)) as canWinAmount,sum(IFNULL(winAmount,0)) as winAmount
    from orderdetail
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userId!='' and userId!=null" >
        AND userId = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>