<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.Orders">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="handicapId" jdbcType="VARCHAR" property="handicapId" />
    <result column="gameType" jdbcType="VARCHAR" property="gametype" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="odds" jdbcType="DECIMAL" property="odds" />
    <result column="retreat" jdbcType="DECIMAL" property="retreat"/>

    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="winAmount" jdbcType="DECIMAL" property="winAmount"/>
    <result column="canWinAmount" jdbcType="DECIMAL" property="canWinAmount"/>
    <result column="totalAmount" jdbcType="INTEGER" property="totalAmount" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="lianmatype" jdbcType="VARCHAR" property="lianmatype" />
    <result column="lianmadan" jdbcType="VARCHAR" property="lianmadan" />
    <result column="oddSet" jdbcType="DECIMAL" property="oddset" />
  </resultMap>
  <sql id="Base_Column_List">
    Id,  userId,handicapId, gameType, `no`,description, odds, amount,totalAmount,retreat,winAmount, createdate,status,orderNo,
    lianmatype,lianmadan,canWinAmount,oddset
  </sql>
  <select id="selectByExample"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where Id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.fr.lottery.entity.Orders">
    insert into orders (Id,  userId,handicapId,
      gameType, no,description, odds,amount,totalAmount,retreat,winAmount, createdate,orderNo,lianmatype,lianmadan,canWinAmount,oddset)
    values (#{id,jdbcType=VARCHAR},  #{userid,jdbcType=VARCHAR},#{handicapId,jdbcType=VARCHAR},
      #{gametype,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR}, #{odds,jdbcType=DECIMAL},
      #{amount,jdbcType=INTEGER},#{totalAmount,jdbcType=INTEGER},#{retreat,jdbcType=DECIMAL},#{winAmount,jdbcType=DECIMAL}, #{createdate,jdbcType=TIMESTAMP},
      #{orderNo,jdbcType=VARCHAR},#{lianmatype,jdbcType=VARCHAR},#{lianmadan,jdbcType=VARCHAR},#{canWinAmount,jdbcType=DECIMAL},#{oddset,jdbcType=VARCHAR})
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from orders

  </select>

  <update id="updateByPrimaryKey" parameterType="com.fr.lottery.entity.Orders">
    update orders
    set userId = #{userid,jdbcType=VARCHAR},
      handicapId=#{handicapId,jdbcType=VARCHAR},
      gameType = #{gametype,jdbcType=VARCHAR},
      description= #{description,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      odds = #{odds,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=INTEGER},
      totalAmount = #{totalAamount,jdbcType=INTEGER},
      retreat = #{retreat,jdbcType=DECIMAL},
      winAmount=#{winAmount,jdbcType=DECIMAL},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateWinAmountByPrimaryKey">
    UPDATE orders set winAmount=#{winAmount,jdbcType=DECIMAL} WHERE Id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="settlement">
    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1=c.Tema AND b.gameType='000' and b.handicapId= #{handicapId,jdbcType=VARCHAR};


    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 in(c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.gameType='001' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';


    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 =c.No1 AND b.gameType='002' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 =c.No2 AND b.gameType='003' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';
    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 =c.No3 AND b.gameType='004' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 =c.No4 AND b.gameType='005' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 =c.No5 AND b.gameType='006' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1 =c.No3 AND b.gameType='007' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id
		AND (b.Number1  in(c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) ) AND b.gameType='008' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

  UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id
		AND (b.Number1  in(c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) ) AND b.gameType='009' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';
  UPDATE orderdetail b,handicap c set b.winAmount=(b.Odds1 + retreat /100 -1 )* b.amount where b.handicapId = c.Id
		AND ((b.Number1=c.Tema   AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)) or (b.Number2=c.Tema   AND b.Number1  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6))) AND b.gameType='009' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id
		AND ((b.Number1=c.Tema   AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)) or (b.Number2=c.Tema   AND b.Number1  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6))) AND b.gameType='010' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';


  UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id
    AND b.Number1 in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)   AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number3  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.gameType='011' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

UPDATE orderdetail b,handicap c set b.winAmount=(b.odds1 + retreat /100 -1 )* b.amount where b.handicapId = c.Id
		AND b.Number1 in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)   AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number3  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.gameType='012' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

    UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id
		AND ((b.Number1 not in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)   AND b.Number2  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number3  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6))
			or (b.Number1 in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)   AND b.Number2  not in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number3  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6))
or (b.Number1 in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6)   AND b.Number2   in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.Number3  not in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6))
AND b.Number3  in (c.No1,c.no2,c.No3,c.no4,c.no5,c.no6) AND b.gameType='012' and b.handicapId='e4369384f7384b089689d1e75ec6acf0';

 UPDATE orderdetail b,handicap c set b.winAmount=(b.odds + retreat /100 -1 )* b.amount where b.handicapId = c.Id AND b.Number1=c.Texiaono AND b.gameType='014' and b.handicapId= #{handicapId,jdbcType=VARCHAR};
   UPDATE orderdetail b,handicap c set b.winAmount=-b.amount where b.handicapId = c.Id  and b.winAmount is NULL and b.handicapId='e4369384f7384b089689d1e75ec6acf0';
  </update>
<select id="countByUserId" resultType="java.lang.Long">
   select count(1) from orders
   <where>
     <if test="handicapId!='' and handicapId!=null" >
       AND handicapId = #{handicapId,jdbcType=VARCHAR}
     </if>
     <if test="userid!='' and userid!=null" >
       AND userid = #{userid,jdbcType=VARCHAR}
     </if>
     <if test="gameType!='' and gameType!=null" >
       AND gameType = #{gameType,jdbcType=VARCHAR}
     </if>
   </where>
</select>

  <select id="getOrderDetails"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userid!='' and userid!=null" >
        AND userid = #{userid,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>
    </where>

    order by orderNo ASC
    <if test="pageIndex!=null ">
      limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getTotal"  resultMap="BaseResultMap">
    select sum(IFNULL(totalAmount,0)) as totalAmount,sum(IFNULL(canWinAmount,0)) as canWinAmount,sum(IFNULL(winAmount,0)) as winAmount
    from orders
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userid!='' and userid!=null" >
        AND userid = #{userid,jdbcType=VARCHAR}
      </if>
      <if test="gameType!='' and gameType!=null" >
        AND gameType = #{gameType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <resultMap id="UserHistoryMap" type="com.fr.lottery.dto.UserHistoryDto">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="historyDate" jdbcType="VARCHAR" property="historyDate" />
    <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="totalAmount" jdbcType="VARCHAR" property="totalAmount" />
    <result column="winAmount" jdbcType="VARCHAR" property="winAmount" />
    <result column="canWinAmount" jdbcType="VARCHAR" property="canWinAmount" />
  </resultMap>

  <select id="getOrderHistory" resultMap="UserHistoryMap">
    SELECT handicap.id,od.userid,QiShu as historyDate,COUNT(1) orderNum,sum(od.amount) amount,sum(od.canWinAmount) as canWinAmount
      ,sum(od.Amount) as totalAmount,sum(od.winAmount) as winAmount
    FROM orders
    INNER  JOIN orderdetail od on orders.id = od.orderId
    INNER  JOIN Handicap on orders.handicapId= Handicap.Id
      <where>
        <if test="userid!='' and userid!=null" >
          AND od.userid = #{userid,jdbcType=VARCHAR}
        </if>
        <if test="handicapId!='' and handicapId!=null" >
          AND od.handicapId = #{handicapId,jdbcType=VARCHAR}
        </if>
      </where>
      GROUP  BY od.userid,od.handicapId
    ORDER  BY QiShu desc

  </select>

</mapper>