<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.entity.OrderDetail">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="orderId" jdbcType="VARCHAR" property="orderid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="handicapId" jdbcType="VARCHAR" property="handicapId" />
    <result column="gameType" jdbcType="VARCHAR" property="gametype" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="odds" jdbcType="DECIMAL" property="odds" />
    <result column="retreat" jdbcType="DECIMAL" property="retreat"/>
    <result column="winAmount" jdbcType="DECIMAL" property="winAmount"/>
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>

  <sql id="Base_Column_List">
    Id, orderId, userId,handicapId, gameType, `no`,description, odds, amount,retreat,winAmount, createdate,status,orderNo
  </sql>
  <select id="selectByExample"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orderdetail
    where Id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.fr.lottery.entity.OrderDetail">
    insert into orderdetail (Id, orderId, userId,handicapId,
      gameType, no,description, odds,amount,retreat,winAmount, createdate,orderNo)
    values (#{id,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR},#{handicapId,jdbcType=VARCHAR},
      #{gametype,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR}, #{odds,jdbcType=DECIMAL},
      #{amount,jdbcType=INTEGER},#{retreat,jdbcType=DECIMAL},#{winAmount,jdbcType=DECIMAL}, #{createdate,jdbcType=TIMESTAMP},
      #{orderNo,jdbcType=VARCHAR})
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from orderdetail

  </select>

  <update id="updateByPrimaryKey" parameterType="com.fr.lottery.entity.OrderDetail">
    update orderdetail
    set orderId = #{orderid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      handicapId=#{handicapId,jdbcType=VARCHAR},
      gameType = #{gametype,jdbcType=VARCHAR},
      description= #{description,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      odds = #{odds,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=INTEGER},
      retreat = #{retreat,jdbcType=DECIMAL},
      winAmount=#{winAmount,jdbcType=DECIMAL},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getOrderDetails"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    <where>
      <if test="handicapId!='' and handicapId!=null" >
        AND handicapId = #{handicapId,jdbcType=VARCHAR}
      </if>
      <if test="userid!='' and userid!=null" >
        AND userid = #{userid,jdbcType=VARCHAR}
      </if>
    </where>
    order by createdate ASC
  </select>

  <resultMap id="UserHistoryMap" type="com.fr.lottery.dto.UserHistoryDto">
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="historyDate" jdbcType="VARCHAR" property="historyDate" />
    <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="winAmount" jdbcType="VARCHAR" property="winAmount" />
  </resultMap>

  <select id="getOrderHistory" resultMap="UserHistoryMap">
      SELECT userid,QiShu historyDate,COUNT(1) orderNum,sum(amount) amount,0 as winAmount
      FROM orderdetail
      INNER  JOIN Handicap on orderdetail.handicapId= Handicap.Id
      <where>
        <if test="userid!='' and userid!=null" >
          AND userid = #{userid,jdbcType=VARCHAR}
        </if>
        <if test="handicapId!='' and handicapId!=null" >
          AND handicapId = #{handicapId,jdbcType=VARCHAR}
        </if>
      </where>
      GROUP  BY userid,handicapId

  </select>

</mapper>