<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.StatisMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.dto.StatisDto">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gameType" jdbcType="VARCHAR" property="gameType" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="winAmount" jdbcType="VARCHAR" property="winAmount" />
    <result column="aveOdds" jdbcType="VARCHAR" property="aveOdds" />
    <result column="shareTotal" jdbcType="DECIMAL" property="shareTotal" />
    <result column="odds" jdbcType="DECIMAL" property="odds" />
  </resultMap>

  <select id="getStatis" resultMap="BaseResultMap">
    select gameType,handicapId,`no`,description,COUNT(1) orderNum,SUM(orders.amount) amount,SUM(winAmount) winAmount,sum(odds* orders.amount)/SUM(orders.amount) aveOdds,0 buhuo,0 odds
    FROM orders
      INNER  JOIN Handicap on orders.handicapId= Handicap.Id

    INNER JOIN user u on u.id = orders.userId
      <where>
        <if test="handicapId!='' and handicapId!=null" >
          AND handicapId = #{handicapId,jdbcType=VARCHAR}
        </if>
        <if test="gameTypes!=null ">
        AND gameType in
        <foreach item="item" index="index" collection="gameTypes" open="(" separator="," close=")">
          #{item}
        </foreach>
        </if>
        <if test="xpath!=null and xpath !=''">
          AND u.xpath like #{xpath,jdbcType=VARCHAR}
        </if>
      </where>
      GROUP BY handicapId,gameType,`no`

  </select>
  <select id="getStatisByCallable" parameterMap="StatisCondition"  resultMap="BaseResultMap" statementType="CALLABLE">
    CALL P_DB_Statis_tema(#{p_handicapId,mode=IN,jdbcType=VARCHAR},#{p_gameType,mode=IN,jdbcType=VARCHAR},#{p_userId,mode=IN,jdbcType=VARCHAR},#{p_usertype,mode=IN,jdbcType=INTEGER})
  </select>
  <parameterMap type="java.util.Map" id="StatisCondition">
    <parameter property="p_userId" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="p_handicapId" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="p_xpath" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="p_usertype" mode="IN" jdbcType="INTEGER"/>
    <parameter property="p_gameType" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="p_categoryId" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="p_start" mode="IN" jdbcType="INTEGER"/>
    <parameter property="p_pageSize" mode="IN" jdbcType="INTEGER"/>
  </parameterMap>
  <select id="getStatisZhengmaByCallable" parameterMap="StatisCondition"  resultMap="BaseResultMap" statementType="CALLABLE">
    CALL P_DB_Statis_zhengma(#{p_handicapId,mode=IN,jdbcType=VARCHAR},#{p_gameType,mode=IN,jdbcType=VARCHAR},#{p_userId,mode=IN,jdbcType=VARCHAR},#{p_usertype,mode=IN,jdbcType=INTEGER},#{p_categoryId,mode=IN,jdbcType=VARCHAR})
  </select>

  <select id="getStatisLianma" parameterMap="StatisCondition"  resultMap="BaseResultMap">
    select t.gameType,t.`no`,t.`description`,t.amount,t.shareTotal -IFNULL(t1.amount,0)  as shareTotal from (
    select od.gameType,od.numbers as `no`,od.gameDesc as`description`,sum(od.amount)  as amount ,
     (CASE WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=1 THEN od.dagudongamt WHEN #{p_usertype,mode=IN,jdbcType=INTEGER} =2
	then od.gudongamt WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=3 then od.zongdaiamt when #{p_usertype,mode=IN,jdbcType=INTEGER}=4 then od.dailiamt
	when #{p_usertype,mode=IN,jdbcType=INTEGER}=5 then od.amount ELSE 0 END )AS shareTotal
      ,  od.odds,od.oddset
      FROM  orderdetail od
        INNER  JOIN Handicap on od.handicapId= Handicap.Id
      INNER JOIN user u on u.id = od.userId
  where od.handicapId =#{p_handicapId,jdbcType=VARCHAR}
      AND  FIND_IN_SET(od.gameType,#{p_gameType,jdbcType=VARCHAR})
   AND  (CASE WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=1 THEN od.dagudongid=#{p_userId,mode=IN,jdbcType=VARCHAR} WHEN #{p_usertype,mode=IN,jdbcType=INTEGER} =2
	then od.gudongid=#{p_userId,mode=IN,jdbcType=VARCHAR} WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=3 then od.zongdaiid=#{p_userId,mode=IN,jdbcType=VARCHAR} when #{p_usertype,mode=IN,jdbcType=INTEGER}=4 then od.dailiamt
	when #{p_usertype,mode=IN,jdbcType=INTEGER}=5 then od.userid=#{p_userId,mode=IN,jdbcType=VARCHAR} ELSE 1=1 END )
  AND (od.orderType is null or orderType='xiazhu' or (od.orderType='bucang' AND od.userId !=#{p_userId,jdbcType=VARCHAR}))
  GROUP  BY od.gameType,od.numbers,od.gameDesc
  ) t
  left JOIN (SELECT gameType,od1.numbers,SUM(amount) as Amount
					from orderdetail od1
					where od1.UserId=#{p_userId,jdbcType=VARCHAR} AND od1.HandicapId=#{p_handicapId,jdbcType=VARCHAR}
					AND od1.orderType='bucang'
				group by od1.gameType,od1.numbers
			 ) as t1 on t.gameType=t1.gameType and t.`no`=t1.numbers
  order by shareTotal DESC
  LIMIT #{p_start,jdbcType=INTEGER},#{p_pageSize,jdbcType=INTEGER}
  </select>

  <select id="getStatisLianmaCount" parameterMap="StatisCondition" resultMap="BaseResultMap">
    select count(1) as orderNum,t.shareTotal -IFNULL(t1.amount,0)  as amount,0 AS buhuo from (
    select od.gameType,
    sum(CASE WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=1 THEN od.dagudongamt WHEN #{p_usertype,mode=IN,jdbcType=INTEGER} =2
	then od.gudongamt WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=3 then od.zongdaiamt when #{p_usertype,mode=IN,jdbcType=INTEGER}=4 then od.dailiamt
	when #{p_usertype,mode=IN,jdbcType=INTEGER}=5 then od.amount ELSE 0 END ) as shareTotal
    ,  od.odds,od.oddset
    FROM  orderdetail od
    INNER  JOIN Handicap on od.handicapId= Handicap.Id
    INNER JOIN user u on u.id = od.userId
    where od.handicapId =#{p_handicapId,jdbcType=VARCHAR}
    AND  FIND_IN_SET(od.gameType,#{p_gameType,jdbcType=VARCHAR})
    and (CASE WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=1 THEN od.dagudongid=#{p_userId,mode=IN,jdbcType=VARCHAR} WHEN #{p_usertype,mode=IN,jdbcType=INTEGER} =2
	then od.gudongid=#{p_userId,mode=IN,jdbcType=VARCHAR} WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=3 then od.zongdaiid=#{p_userId,mode=IN,jdbcType=VARCHAR} when #{p_usertype,mode=IN,jdbcType=INTEGER}=4 then od.dailiamt
	when #{p_usertype,mode=IN,jdbcType=INTEGER}=5 then od.userid=#{p_userId,mode=IN,jdbcType=VARCHAR} ELSE 1=1 END )
    GROUP  BY od.gameType
    ) t
    left JOIN (SELECT gameType,od1.numbers,SUM(amount) as Amount
					from orderdetail od1
					where od1.UserId=#{p_userId,jdbcType=VARCHAR} AND od1.HandicapId=#{p_handicapId,jdbcType=VARCHAR}
					AND od1.orderType='bucang'
				group by od1.gameType
			 ) as t1 on t.gameType=t1.gameType
  </select>

  <select id="get_statics_data"  resultType="java.util.HashMap">
select cc.category,sum(IFNULL(zhancheng,0))-IFNULL(t1.Amount,0) as zhancheng
FROM categoryconfig  cc
 left JOIN(
	select od.gameType,(CASE WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=1 THEN od.dagudongamt WHEN #{p_usertype,mode=IN,jdbcType=INTEGER} =2
	then od.gudongamt WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=3 then od.zongdaiamt when #{p_usertype,mode=IN,jdbcType=INTEGER}=4 then od.dailiamt
	when #{p_usertype,mode=IN,jdbcType=INTEGER}=5 then od.amount ELSE 0 END )AS zhancheng
        FROM   orderdetail od
          INNER JOIN orders  on orders.Id = od.orderId
          INNER JOIN  Handicap  on orders.handicapId= Handicap.Id
          INNER JOIN user u on u.id = orders.userId
where od.handicapId =#{p_handicapId,jdbcType=VARCHAR}
AND  (CASE WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=1 THEN od.dagudongid=#{p_userId,mode=IN,jdbcType=VARCHAR} WHEN #{p_usertype,mode=IN,jdbcType=INTEGER} =2
	then od.gudongid=#{p_userId,mode=IN,jdbcType=VARCHAR} WHEN #{p_usertype,mode=IN,jdbcType=INTEGER}=3 then od.zongdaiid=#{p_userId,mode=IN,jdbcType=VARCHAR} when #{p_usertype,mode=IN,jdbcType=INTEGER}=4 then od.dailiamt
	when #{p_usertype,mode=IN,jdbcType=INTEGER}=5 then od.userid=#{p_userId,mode=IN,jdbcType=VARCHAR} ELSE 1=1 END )
	) t on cc.gametype = t.gametype
left JOIN (SELECT gameType,SUM(amount) as Amount
					from orderdetail od1
					where od1.UserId=#{p_userId,jdbcType=VARCHAR} AND od1.HandicapId=#{p_handicapId,jdbcType=VARCHAR}
					AND od1.orderType='bucang'
				group by od1.gameType
			 ) as t1 on cc.gameType=t1.gameType
GROUP BY cc.category
  </select>

  <insert id="insert" databaseId="com.fr.lottery.entity.Statis">

  </insert>
</mapper>