<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.StatisMapper">
  <resultMap id="BaseResultMap" type="com.fr.lottery.dto.StatisDto">
    <id column="gameType" jdbcType="VARCHAR" property="gameType" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="winAmount" jdbcType="VARCHAR" property="winAmount" />
    <result column="aveOdds" jdbcType="VARCHAR" property="aveOdds" />
    <result column="odds" jdbcType="DECIMAL" property="odds" />
  </resultMap>

  <select id="getStatis" resultMap="BaseResultMap">
    select gameType,handicapId,`no`,description,COUNT(1) orderNum,SUM(amount) amount,SUM(winAmount) winAmount,sum(odds* amount)/SUM(amount) aveOdds,0 buhuo,0 odds
      FROM orders
      INNER  JOIN Handicap on orders.handicapId= Handicap.Id
      <where>
        <if test="handicapId!='' and handicapId!=null" >
          AND handicapId = #{handicapId,jdbcType=VARCHAR}
        </if>
        <if test="gameTypes!=null ">
        AND gameType in
        <foreach item="item" index="index" collection="gameTypes" open="(" separator="," close=")">
          #{item}
        </foreach>
        </if>
      </where>
      GROUP BY handicapId,gameType,`no`

  </select>
</mapper>