<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.UserMapper">
    <resultMap id="userResult" type="com.fr.lottery.entity.User">
        <id column="Id" jdbcType="VARCHAR" property="id"/>
        <result column="ParentId" jdbcType="VARCHAR" property="parentid"/>
        <result column="ParentAccount" jdbcType="VARCHAR" property="parentAccount"/>
        <result column="ParentName" jdbcType="VARCHAR" property="parentName"/>
        <result column="Account" jdbcType="VARCHAR" property="account"/>
        <result column="UserName" jdbcType="VARCHAR" property="userName"/>
        <result column="DagudongId" jdbcType="VARCHAR" property="dagudongId"/>
        <result column="DagudongAccount" jdbcType="VARCHAR" property="dagudongAccount"/>
        <result column="DagudongName" jdbcType="VARCHAR" property="dagudongName"/>
        <result column="GudongId" jdbcType="VARCHAR" property="gudongId"/>
        <result column="GudongAccount" jdbcType="VARCHAR" property="gudongAccount"/>
        <result column="GudongName" jdbcType="VARCHAR" property="gudongName"/>
        <result column="ZongdailiId" jdbcType="VARCHAR" property="zongdailiId"/>
        <result column="ZongdailiAccount" jdbcType="VARCHAR" property="zongdailiAccount"/>
        <result column="ZongdailiName" jdbcType="VARCHAR" property="zongdailiName"/>
        <result column="DailiId" jdbcType="VARCHAR" property="dailiId"/>
        <result column="DailiAccount" jdbcType="VARCHAR" property="dailiAccount"/>
        <result column="DailiName" jdbcType="VARCHAR" property="dailiName"/>

        <result column="Password" jdbcType="VARCHAR" property="password"/>
        <result column="Status" jdbcType="TINYINT" property="status"/>
        <result column="UserType" jdbcType="TINYINT" property="usertype"/>
        <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate"/>
        <result column="Credits" jdbcType="BIGINT" property="credits"/>
        <result column="shortCovering" jdbcType="TINYINT" property="shortCovering"/>
        <result column="shareTotal" jdbcType="INTEGER" property="shareTotal"/>
        <result column="shareUp" jdbcType="INTEGER" property="shareUp"/>
        <result column="shareFlag" jdbcType="INTEGER" property="shareFlag"/>
        <result column="Proportional" jdbcType="INTEGER" property="proportional"/>
        <result column="Handicap" jdbcType="VARCHAR" property="handicap"/>
        <result column="Xpath" jdbcType="VARCHAR" property="xpath"/>
        <result column="Xseq" jdbcType="INTEGER" property="xseq"/>
        <result column="lastChangeDate" jdbcType="INTEGER" property="lastChangeDate"/>
        <result column="needToChangPwd" jdbcType="INTEGER" property="needToChangPwd"/>
        <result column="sessionId" jdbcType="VARCHAR" property="sessionId"/>
    </resultMap>
    <sql id="Columns">
          Id, ParentId,ParentAccount,ParentName,DagudongId,DagudongAccount,DagudongName,GudongId,
          GudongAccount,GudongName,ZongdailiId,ZongdaiAccount,ZongdailiName,DailiId,DailiAccount,DailiName,
 Account, UserName, Password, Status, UserType, CreateDate, Credits, shortCovering,
    shareTotal, shareUp, shareFlag, Proportional, Handicap,xpath,xseq,lastChangeDate,needToChangPwd,sessionId

    </sql>
    <sql id="sqlWhere">
        <where>
            <if test="status !=null">
                AND Status =#{status}
            </if>
            <if test="status==null">
                AND Status !=4
            </if>
        </where>
    </sql>

    <!-- 查询所有 -->
    <select id="findAll" resultMap="userResult">
        select
        <include refid="Columns"/>
        from USER
        <include refid="sqlWhere"></include>
        <if test="limit >0">
            limit #{start},#{limit}
        </if>
    </select>

    <!-- 根据Id获取信息 -->
    <select id="get" resultMap="userResult">
        SELECT
        <include refid="Columns"></include>
        from USER
        WHERE Id=#{id,jdbcType=VARCHAR}
          AND status !=4

    </select>
    <!-- 根据账号获取信息 -->
    <select id="getByAccount" resultMap="userResult">
        SELECT
        <include refid="Columns"></include>
        from USER
        WHERE Account=#{account,jdbcType=VARCHAR} AND Status !=4
    </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.fr.lottery.entity.User">
      insert into user (Id, ParentId,ParentAccount,ParentName, Account,DagudongId,DagudongAccount,DagudongName,GudongId,
      GudongAccount,GudongName,ZongdailiId,ZongdaiAccount,ZongdailiName,DailiId,DailiAccount,DailiName,
      UserName, Password, Status,
      UserType, CreateDate, Credits, shortCovering,
      shareTotal, shareUp, shareFlag, Proportional, Handicap,xpath,xseq
      )
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR},#{parentAccount,jdbcType=VARCHAR},#{parentName,jdbcType=VARCHAR},
      #{account,jdbcType=VARCHAR},#{dagudongId,jdbcType=VARCHAR},#{dagudongAccount,jdbcType=VARCHAR},#{dagudongName,jdbcType=VARCHAR},#{gudongId,jdbcType=VARCHAR},
      #{gudongAccount,jdbcType=VARCHAR},#{gudongName,jdbcType=VARCHAR},#{zongdailiId,jdbcType=VARCHAR},#{zongdaiAccount,jdbcType=VARCHAR},#{zongdailiName,jdbcType=VARCHAR},
      #{dailiId,jdbcType=VARCHAR},#{dailiAccount,jdbcType=VARCHAR},#{dailiName,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
      #{usertype,jdbcType=TINYINT}, #{createdate,jdbcType=TIMESTAMP}, #{credits,jdbcType=BIGINT},
      #{shortCovering,jdbcType=TINYINT}, #{shareTotal,jdbcType=INTEGER}, #{shareUp,jdbcType=INTEGER},
      #{shareFlag,jdbcType=INTEGER}, #{proportional,jdbcType=INTEGER}, #{handicap,jdbcType=VARCHAR},#{xpath,jdbcType=VARCHAR}
      ,#{xseq,jdbcType=INTEGER}
      )
    </insert>

    <update id="update">
         update user set
      ParentId = #{parentid,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      UserName = #{userName,jdbcType=VARCHAR},
      <if test="password!=null and password!=''">
          Password = #{password,jdbcType=VARCHAR},
      </if>
      Status = #{status,jdbcType=TINYINT},
      UserType = #{usertype,jdbcType=TINYINT},
      Credits = #{credits,jdbcType=BIGINT},
      shortCovering = #{shortCovering,jdbcType=TINYINT},
      shareTotal = #{shareTotal,jdbcType=INTEGER},
      shareUp = #{shareUp,jdbcType=INTEGER},
      shareFlag = #{shareFlag,jdbcType=INTEGER},
      Proportional = #{proportional,jdbcType=INTEGER},
      Handicap = #{handicap,jdbcType=VARCHAR}
      where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updatePassword">
        UPDATE USER SET password=#{password,jdbcType=VARCHAR} WHERE Id =#{id,jdbcType=VARCHAR}
    </update>

    <update id="updateLoginSessionId">
        UPDATE USER SET sessionid=#{sessionid,jdbcType=VARCHAR} WHERE Id =#{id,jdbcType=VARCHAR}
    </update>
    <!--<delete id="delete" parameterType="String">
        UPDATE USER SET Status =0 WHERE Id =#{id,jdbcType=VARCHAR}
    </delete>-->

    <update id="changeStatus">
        UPDATE USER SET Status=#{status,jdbcType=VARCHAR} WHERE Id =#{id,jdbcType=VARCHAR}
    </update>

    <select id="getUsers" resultMap="userResult">
        select
        <include refid="Columns"/>

        from USER
        <include refid="sqlWhere"/>
        <if test="userType!=null and userType!=0">
            AND UserType = #{userType,jdbcType=VARCHAR}
        </if>
        <if test="keyword!=null and keyword !=''">
            AND (account like #{keyword,jdbcType=VARCHAR}
            OR userNAME like #{keyword,jdbcType=VARCHAR}
            )
        </if>
        <if test="xpath!=null and xpath !=''">
            AND xpath like #{xpath,jdbcType=VARCHAR}
        </if>
        <if test="parentId!=null and parentId !=''">
            AND parentId = #{parentId,jdbcType=VARCHAR}
        </if>
        <if test="start !=null">
            limit #{start ,jdbcType=INTEGER} ,#{pageSize ,jdbcType=INTEGER}
        </if>
    </select>
    <select id="getUserCount" resultMap="userResult">
        SELECT id,account,
        (select count( 1) from `user` a WHERE a.Xpath LIKE  concat(`user`.Xpath,'%') and  a.UserType=2 and status!= 4) as gudongnumber
    , (select count( 1) from `user` a WHERE a.Xpath LIKE  concat(`user`.Xpath,'%') and  a.UserType=3 and status != 4) as zongdainumber
    , (select count( 1) from `user` a WHERE a.Xpath LIKE  concat(`user`.Xpath,'%') and  a.UserType=4 and status != 4) as dailinumber
    , (select count( 1) from `user` a WHERE a.Xpath LIKE  concat(`user`.Xpath,'%') and  a.UserType=5 and status != 4) as membernumber
        from user
        where id= #{id,jdbcType=VARCHAR}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from USER
        <include refid="sqlWhere"/>
        <if test="userType!=null and userType!=0">
            AND UserType = #{userType,jdbcType=VARCHAR}
        </if>
        <if test="keyword!=null and keyword !=''">
            AND (account like #{keyword,jdbcType=VARCHAR}
            OR userName like #{keyword,jdbcType=VARCHAR}
            )
        </if>
        <if test="xpath!=null and xpath !=''">
            AND xpath like #{xpath,jdbcType=VARCHAR}
        </if>
        <if test="parentId!=null and xpath !=''">
            AND parentId = #{parentId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getSeq" resultType="java.lang.Integer">
        SELECT IFNULL(max(xseq),0)+1 from USER
        WHERE
        <choose>
            <when test="parentID !=null and parentID != ''">
                parentId =#{parentID ,jdbcType=VARCHAR}
            </when>
            <otherwise>
                parentId IS NULL
            </otherwise>
        </choose>
    </select>
    <select id="getChildSumCredit" resultType="java.lang.Integer">
        SELECT IFNULL(sum(Credits),0) from USER
        WHERE
        <if test="id !=null and id != ''">
            parentId =#{id ,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="hasChild" resultType="java.lang.Integer">
        SELECT count(1) from USER
        WHERE
        status !=4
        <if test="id !=null and id != ''">
            parentId =#{id ,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>