<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.lottery.dao.UserMapper">
    <resultMap id="userResult" type="com.fr.lottery.entity.User">
        <id column="Id" jdbcType="VARCHAR" property="id" />
        <result column="ParentId" jdbcType="VARCHAR" property="parentid" />
        <result column="Account" jdbcType="VARCHAR" property="account" />
        <result column="Name" jdbcType="VARCHAR" property="name" />
        <result column="Password" jdbcType="VARCHAR" property="password" />
        <result column="Status" jdbcType="TINYINT" property="status" />
        <result column="UserType" jdbcType="TINYINT" property="usertype" />
        <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
        <result column="Credits" jdbcType="BIGINT" property="credits" />
        <result column="IsReplenish" jdbcType="TINYINT" property="isreplenish" />
        <result column="ZhanChengHe" jdbcType="INTEGER" property="zhanchenghe" />
        <result column="ZongDaiZhanChengShu" jdbcType="INTEGER" property="zongdaizhanchengshu" />
        <result column="ReplenishPercent" jdbcType="INTEGER" property="replenishpercent" />
        <result column="Proportional" jdbcType="INTEGER" property="proportional" />
        <result column="Handicap" jdbcType="VARCHAR" property="handicap" />
        <result column="Xpath" jdbcType="VARCHAR" property="xpath"/>
    </resultMap>
    <sql id="Columns">
          Id, ParentId, Account, Name, Password, Status, UserType, CreateDate, Credits, IsReplenish,
    ZhanChengHe, ZongDaiZhanChengShu, ReplenishPercent, Proportional, Handicap,xpath
    </sql>
    <sql id="sqlWhere">
        <where>
            <if test="status !=null">
                AND Status =#{status}
            </if>
            <if test="status==null">
                AND Status !=4
            </if>
        </where>
    </sql>

    <!-- 查询所有 -->
    <select id="findAll" resultMap="userResult">
        select
        <include refid="Columns" />
        from USER
        <include refid="sqlWhere"></include>
        <if test="limit >0">
            limit #{start},#{limit}
        </if>
    </select>

    <!-- 根据Id获取信息 -->
    <select id="get" resultMap="userResult">
        SELECT
        <include refid="Columns"></include>
        from USER
        WHERE Id=#{id,jdbcType=VARCHAR}

    </select>
    <!-- 根据账号获取信息 -->
    <select id="getByAccount" resultMap="userResult">
        SELECT
        <include refid="Columns"></include>
        from USER
        WHERE Account=#{account,jdbcType=VARCHAR} AND Status=1
    </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.fr.lottery.entity.User">
      insert into user (Id, ParentId, Account,
      Name, Password, Status,
      UserType, CreateDate, Credits,
      IsReplenish, ZhanChengHe, ZongDaiZhanChengShu,
      ReplenishPercent, Proportional, Handicap,xpath
      )
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
      #{usertype,jdbcType=TINYINT}, #{createdate,jdbcType=TIMESTAMP}, #{credits,jdbcType=BIGINT},
      #{isreplenish,jdbcType=TINYINT}, #{zhanchenghe,jdbcType=INTEGER}, #{zongdaizhanchengshu,jdbcType=INTEGER},
      #{replenishpercent,jdbcType=INTEGER}, #{proportional,jdbcType=INTEGER}, #{handicap,jdbcType=VARCHAR},#{xpath,jdbcType=VARCHAR}
      )
    </insert>

    <update id="update" >
         update user set
      ParentId = #{parentid,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      UserType = #{usertype,jdbcType=TINYINT},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      Credits = #{credits,jdbcType=BIGINT},
      IsReplenish = #{isreplenish,jdbcType=TINYINT},
      ZhanChengHe = #{zhanchenghe,jdbcType=INTEGER},
      ZongDaiZhanChengShu = #{zongdaizhanchengshu,jdbcType=INTEGER},
      ReplenishPercent = #{replenishpercent,jdbcType=INTEGER},
      Proportional = #{proportional,jdbcType=INTEGER},
      Handicap = #{handicap,jdbcType=VARCHAR}
      where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updatePassword">
        UPDATE USER SET password=#{password,jdbcType=VARCHAR} WHERE Id =#{id,jdbcType=VARCHAR}
    </update>

    <!--<delete id="delete" parameterType="String">
        UPDATE USER SET Status =0 WHERE Id =#{id,jdbcType=VARCHAR}
    </delete>-->

    <update id="changeStatus">
        UPDATE USER SET Status=#{status,jdbcType=VARCHAR} WHERE Id =#{id,jdbcType=VARCHAR}
    </update>

    <select id="getUserByParentId" resultMap="userResult">
    select
    <include refid="Columns" />
    from USER
    <include refid="sqlWhere" />

    <if test="keyword!=null and keyword !=''">
        AND (account like #{keyword,jdbcType=VARCHAR}
        OR NAME  like #{keyword,jdbcType=VARCHAR}
        )
    </if>
        <if test="xpath!=null and xpath !=''">
          AND xpath like #{xpath,jdbcType=VARCHAR}
        </if>
    <if test="start !=null">
        limit #{start ,jdbcType=INTEGER} ,10
    </if>
    </select>
</mapper>