<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd 
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
		<!--http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd>-->

	<!--自动扫描注入为bean -->
	<context:component-scan base-package="com.fr.lottery.controller" />


	<!-- 文件上传的配置 -->
 	<bean  id="multipartResolver"
 		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 最大值300M 1024*1024*300即300M -->
 		<property name="maxUploadSize" value="314572800" />
		<!--resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常 -->
 		<property name="resolveLazily" value="true" />
 	</bean >

	<!-- 以下为SpringMVC配置 -->
	<mvc:annotation-driven>
		<!-- 返回json数据，@ResponseBody使用 -->
	</mvc:annotation-driven>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" /><!-- 拦截的url -->
			<mvc:exclude-mapping path="/home/login" /><!-- 不拦截的url -->
			<mvc:exclude-mapping path="/home/doLogin" /><!-- 不拦截的url -->
			<mvc:exclude-mapping path="/document/doUpload" /><!-- 不拦截的url -->
			<mvc:exclude-mapping path="/doLogin" /><!-- 不拦截的url -->
			<mvc:exclude-mapping path="/api/**" /><!-- 不拦截的url -->
			<mvc:exclude-mapping path="/resources/**" /><!-- 不拦截的url -->
			<bean class="com.fr.lottery.init.MyInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!--过滤静态资源-->
<!-- 	<mvc:resources location="/assets/" mapping="/assets/**" /> -->
	  <!--<import resource="spring-quartz.xml" /> -->

	<!-- 只有一个全局异常处理器起作用 (开发环境注释掉)-->
	<!--<bean id="exceptionResolver" class="com.fr.lottery.init.OverallExceptionResolver"></bean>-->

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"
		  p:ignoreDefaultModelOnRedirect="true" >
		<property name="messageConverters">
			<list>
				<bean
						class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
					<property name="objectMapper">
						<bean class="com.fasterxml.jackson.databind.ObjectMapper">
							<property name="dateFormat">
								<bean class="java.text.SimpleDateFormat">
									<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
								</bean>
							</property>
						</bean>
					</property>

				</bean>
			</list>
		</property>
	</bean>
</beans>